{{!< default}}
{{! The tag above means: insert everything in this file
into the {body} tag of the default.hbs template }}
{{#post}}
  {{! Everything inside the #post block pulls data from the page }}
  <main id="site-main" class="site-main outer">
    <article class="article {{post_class}}">
      <header class="article-header gh-canvas">
        <h1 class="article-title">
          {{title}}
        </h1>
      </header>
      <section class="gh-content gh-canvas">
        <div class="container">
          <div id="questionForm"></div>
        </div>
        {{content}}
      </section>
    </article>
  </main>
{{/post}}
<link
  rel="stylesheet"
  type="text/css"
  href="{{asset "css/alvdev-tests.css"}}"
/>
<script defer src="https://cdn.jsdelivr.net/npm/appwrite@9.0.1"></script>
<script defer src="{{asset "js/alvdev-tests.js"}}"></script>
