{{!< default}}
{{! The tag above means: insert everything in this file
into the {body} tag of the default.hbs template }}
{{#post}}
  {{! Everything inside the #post block pulls data from the page }}
  <main id="site-main" class="site-main outer">
    <article class="article {{post_class}}">
      <header class="article-header gh-canvas">
        <h1 class="article-title">
          {{title}}
        </h1>
        <div class="hub">
          <div class="hub-counter">
            <div class="questions-title">Preguntas</div>
            <div class="wrapper">
              <span class="current-question">0</span> /
              <span class="available-questions">5</span>
            </div>
          </div>
          <div class="hub-score">
            <div class="score-title">Puntuación</div>
            <div class="wrapper"><span>0</span>
            </div>
          </div>
        </div>
        {{content}}
      </header>
      <section class="gh-content gh-canvas">
        <div class="container">
          <div id="questionForm"></div>
        </div>
      </section>
    </article>
  </main>
{{/post}}
<link rel="stylesheet" type="text/css" href="{{asset "css/alvdev-tests.css"}}" />
<script defer src="https://cdn.jsdelivr.net/npm/appwrite@9.0.1"></script>
<script defer src="{{asset "js/alvdev-tests.js"}}"></script>
