---
import { getCollection } from "astro:content";

const { folderName: folderName } = Astro.props;
const tabs = await getCollection("tabs", ({ id }) => {
    return id.startsWith(folderName);
});
---

<section class="mt-32">
    <div class="container" x-data="{ tab: 0 }">
        <h2 class="text-4xl lg:text-5xl text-balance text-black font-bold uppercase xl:m-0 leading-tight">
            Servicios de cartelería complementarios
        </h2>

        <div class="mt-24 flex gap-24">
            <div class="w-2/5">
                <div class="sticky top-28">
                    <div class="flex flex-wrap gap-4 lg:flex-col">
                        {
                            tabs.map((tab, index) => (
                                <button
                                    class="group"
                                    x-on:click={`tab = ${index}`}
                                    x-bind:class={`tab === ${index} ? 'tab-active' : 'tab'`}
                                >
                                    {tab.data.title}
                                    <span class="inline-block right-2 group-hover:right-0 group-hover:transition-all relative">
                                        🡪
                                    </span>
                                </button>
                            ))
                        }
                    </div>
                </div>
            </div>
            {
                tabs.map((tab, index) => (
                    <div set:html={tab.body} class="w-3/5" x-show={`tab === ${index}`} x-transition:enter></div>
                ))
            }
        </div>
    </div>
</section>
