{{#match @custom.publication_cover_style "!=" "None"}}
    <header id="gh-head" class="gh-head{{#match @custom.publication_cover_style "!=" "None"}} has-cover{{/match}}">
        {{^is 'home'}}
            {{> navbar}}
        {{/is}}

        {{#is 'home'}}
            {{> navbar}}
            {{!-- <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}"></div> --}}
            <article id="welcome">
                <h1>{{@site.description}}</h1>
                <p>Apuntes de ciberseguridad para el Certified Network Defender (CND), Certified Ethical Hacker (CEH), eLS Junior Penetration Tester (ejPT), Comptia Network+ y Security+</p>
                <address class="author">
                    <img src="https://placeimg.com/50/50/any" alt="">
                    <small class="info">
                        Alvaro Devesa<br>
                        Desarrollador web
                    </small>
                </address>
            </article>
            {{!-- {{> latest-header-post}} --}}
            <section id="slides">
                <article>
                    <a href="">
                        <img src="https://picsum.photos/id/1/400/200" alt="">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="https://picsum.photos/id/2/200/100" alt="">
                        <h2>Ea non aute aliquip quis nisi.</h2>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="https://picsum.photos/id/3/200/100" alt="">
                        <h2>Adipisicing cupidatat reprehenderit pariatur voluptate ea.</h2>
                    </a>
                </article>
                <article>
                    <a href="">
                        <img src="https://picsum.photos/id/4/200/100" alt="">
                        <h2>Occaecat consectetur magna qui fugiat velit in dolor magna.</h2>
                    </a>
                </article>
            </section>
            {{#if @site.cover_image}}
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img class="site-header-cover"
                    srcset="{{img_url @site.cover_image size="s"}} 300w,
                            {{img_url @site.cover_image size="m"}} 600w,
                            {{img_url @site.cover_image size="l"}} 1000w,
                            {{img_url @site.cover_image size="xl"}} 2000w"
                    sizes="100vw"
                    src="{{img_url @site.cover_image size="xl"}}"
                    alt=""
                />
            {{/if}}
        {{/is}}
    </header>
{{/match}}
