{{#match @custom.publication_cover_style "!=" "None"}}
    <header id="gh-head" class="gh-head{{#match @custom.publication_cover_style "!=" "None"}} has-cover{{/match}}">
        {{^is 'home'}}
            {{> navbar}}
        {{/is}}

        {{#is 'home'}}
            {{> navbar}}
            {{!-- <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}"></div> --}}
            <article id="welcome">
                <div class="logo">
                    {{> 'logo'}}
                </div>
                <div class="content">
                    <h1>{{@site.description}}</h1>
                    <p>Guías de estudio de ciberseguridad para:</p>
                        <ul>
                            <li>Certified Information Systems Security Professional</li>
                            <li>Certified Ethical Hacker</li>
                            <li>Certified Network Defender</li>
                            <li>CompTIA Network+ y Security+</li>
                        </ul>
                    {{!--  <address class="author">
                        <img src="/content/images/size/w100/2022/05/alvdev-logo.svg" alt="{{name}}" />
                        <small class="info">
                            Alvaro Devesa<br>
                            Desarrollador web
                        </small>
                    </address> --}}
                </div>
            </article>
            {{!-- {{> latest-header-post}} --}}
            <section id="slides">
                {{#foreach posts limit="4"}}
                    {{> "latest-header-post"}}
                {{/foreach}}            
            </section>
            {{#if @site.cover_image}}
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img class="site-header-cover"
                    srcset="{{img_url @site.cover_image size="s"}} 300w,
                            {{img_url @site.cover_image size="m"}} 600w,
                            {{img_url @site.cover_image size="l"}} 1000w,
                            {{img_url @site.cover_image size="xl"}} 2000w"
                    sizes="100vw"
                    src="{{img_url @site.cover_image size="xl"}}"
                    alt=""
                />
            {{/if}}
        {{/is}}
    </header>
{{/match}}
