<section class="reviews mt-24">
    {% if header.enabled_titles %}
        <hgroup class="container mb-16 text-balance">
            {% if header.title %}
                <h2 class="font-semibold uppercase text-center text-gray-500 m-0 text-5xl lg:text-6xl">
                    {{ page.title }}
                </h2>
            {% endif %}

            {% if header.subtitle %}
                <h3>
                    {{ header.subtitle }}
                </h3>
            {% endif %}
        </hgroup>
    {% endif %}

    <div class="container columns-1 [&>*]:break-inside-avoid [&>*:not(:first-child)]:mt-4 items-center md:columns-2 lg:columns-3 gap-4 mt-14">
        {% for review in header.reviews %}
            <div class="flex flex-col p-6 bg-white border-2 border-gray-300 rounded shadow-md h-fit -rotate-1">
                <div class="text-yellow-500 text-2xl inline-flex leading-none [&>span]:mr-1">
                    {% for i in 1..review.stars %}
                        <span>★</span>
                    {% endfor %}
                </div>
                <div class="text-current leading-snug mt-2 text-[1.2rem] text-gray-600">
                    "{{ review.text }}"
                </div>
                <div class="flex items-center justify-between mt-4 text-base">
                    <div class="flex items-center gap-3">
                        {{ media[review.picture].cropResize(40, 40).html('', 'Nieves Ayala', 'w-10 m-0 rounded-full')|raw }}
                        {{ review.author }}
                    </div>
                    <div class="flex">
                        <a href="{{ review.link }}"
                           class="font-semibold text-red-600 no-underline external-link hover:text-black before:border-none"
                           target="_blank"
                           rel="nofollow">
                            Google
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
