{% macro horizontal(page, path, limit = 5, cities, classes) %}
    {% set options = {items: {'@page.descendants': path}, order: {'dir': 'desc'}, limit: limit} %}
    {% set posts = page.collection(options) %}
    {% set cities = cities %}

    {% if cities is not empty %}
        {% set city_posts = [] %}
    {% endif %}

    {% for article in articles %}
        {% for tag in article.taxonomy.tag %}
            {% if tag in cities and article not in posts %}
                {% set posts = posts|merge([article]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="{{ classes }} flex flex-col gap-24">
        {% for post in posts %}
            <article class="flex flex-col place-items-center gap-12 md:flex-row">
                {% if post.media.images %}
                    <div class="bg-skew md:w-1/3">
                        {{ post.media.images|first.cropZoom(600, 300).html('', post.title, 'm-0 p-2 border border-black bg-white aspect-video object-cover')|raw }}
                    </div>
                {% else %}
                    <div class="bg-skew">
                        <img class="aspect-video object-cover"
                             src="https://picsum.photos/400/200.webp?random={{ random() }}"
                             alt=""
                             width="400"
                             height="200">
                    </div>
                {% endif %}

                <div class="md:w-2/3 text-gray-500 text-lg">
                    <div class="flex items-baseline gap-2">
                        {% if cities is not empty %}
                            {{ svg('theme://images/icons/city.svg', 'h-6 fill-red-700')|raw }}
                        {% endif %}
                        {% for tag in post.taxonomy.tag %}
                            {% if tag in cities %}
                                <a href="#" class="font-bold uppercase text-sm">{{ tag }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <h2 class="text-3xl text-balance my-2 p-0 md:line-clamp-2 pb-1">
                        <a href="{{ post.url }}" class="font-bold text-gray-800">{{ post.title }}</a>
                    </h2>

                    {% if post.header.description %}
                        <p>
                            {{ post.page.header.description|striptags|truncate(50) }}
                        </p>
                    {% else %}
                        <p class="mt-4 last:mb-0 inline-block">
                            {{ post.summary|striptags('<strong>')|truncate(220)|raw }}
                            <a href="{{ post.url }}" class="text-md leading-tight inline-block">Seguir leyendo »</a>
                        </p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>
{% endmacro %}
