{% macro article(item) %}
    <article class="flex flex-col place-items-center gap-12 md:flex-row">
        {% if item.media.images %}
            <div class="bg-skew md:w-1/3">
                {{ item.media.images|first.derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').loading().html('', item.title, 'm-0 p-2 border border-black bg-white aspect-video object-cover')|raw }}
            </div>
        {% else %}
            <div class="bg-skew">
                <img class="aspect-video object-cover"
                     src="https://picsum.photos/400/200.webp?random={{ random() }}"
                     alt=""
                     width="400"
                     height="200">
            </div>
        {% endif %}

        <div class="md:w-2/3 text-gray-500 text-lg">
            <div class="flex items-baseline">
                {% if cities is not empty %}
                {% endif %}
                {% if item.taxonomy.tag %}
                    {{ svg('theme://images/icons/city.svg', 'h-6 fill-red-700')|raw }}
                    {% for tag in item.taxonomy.tag %}
                        <a href="#" class="font-bold text-red-600 uppercase text-sm p-2">{{ tag }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <h2 class="text-3xl text-balance my-0 p-0 md:line-clamp-2 pb-1">
                <a href="{{ item.url }}" class="font-bold text-gray-800">{{ item.title }}</a>
            </h2>

            {% if item.header.description %}
                <p class="text-pretty">
                    {{ item.page.header.description|striptags|truncate(250) }}
                </p>
                <a href="{{ item.url }}" class="text-md text-red-600 font-semibold leading-tight">Seguir leyendo »</a>
            {% else %}
                <p class="my-4 text-pretty last:mb-0 inline-block">
                    {{ item.summary|striptags('<strong>')|truncate(250)|raw }}
                </p>
                <a href="{{ item.url }}" class="text-md text-red-600 font-semibold leading-tight">Seguir leyendo »</a>
            {% endif %}
        </div>
    </article>
{% endmacro %}

{% macro posts(page, path, limit = 5, cities, classes) %}
    {% set options = {items: {'@page.descendants': path}, order: {'by': 'header.publish_date', 'dir': 'asc'}, limit: limit} %}
    {% set posts = page.collection(options) %}
    {% set city_options = {items: {'@taxonomy': {'tag': 'Madrid'}}, order: {'by': 'header.publish_date', 'dir': 'desc'}, limit: limit} %}
    {% set city_posts = page.collection(city_options) %}

    <div class="{{ classes }} flex flex-col gap-24">
        {% for post in posts %}
            {% if post.header.publish_date %}
                {{ _self.article(post) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}
