{% extends 'partials/base.html.twig' %}

{% set posts = page.find('/blog').children.published.order('date', 'desc').slice(0, 3) %}

{% block content %}
    {% if page.media|first %}
        {{ page.media|first.html('', '', 'w-full aspect-video object-cover')|raw }}
    {% endif %}

    <div class="content flex">
        <div class="w-3/4 relative {% if page.media|first %}-mt-32{% endif %} bg-white">
            <hgroup>
                {% if page.title %}
                    <h1 class="text-8xl {% if page.media|first %}pt-8{% endif %} pr-8 text-gray-900 font-bold">
                        {{ page.title }}
                    </h1>
                {% endif %}

                {% if page.header.subtitle %}
                    <h2 class="mt-8 text-gray-500">
                        {{ page.header.subtitle|raw }}
                    </h2>
                {% endif %}

                {% if page.header.description %}
                    <p class="mt-8 text-gray-500">
                        {{ page.header.description|raw }}
                    </p>
                {% endif %}
            </hgroup>

            <div class="prose mt-16 pr-16">
                {{ content|raw }}
            </div>
        </div>

        <div class="w-1/4">

            <div class="sticky top-8 flex flex-col gap-8 items-center justify-center min-h-[20rem]">
                <div class="flex items-center justify-center p-8 bg-gray-900 text-white w-full min-h-[10rem]">
                    {% include 'partials/_side-banner.html.twig' %}
                </div>
                {% include 'partials/components/page-toc.html.twig' %}
            </div>
        </div>
    </div>

    {% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
        <section class="flex flex-col gap-24 mt-32">
            <h4 class="text-6xl font-semibold">
                Related Posts
            </h4>
            {% include 'partials/related-pages.html.twig' %}
        </section>
    {% else %}
        <section class="flex flex-col gap-24 mt-32">
            <h4 class="text-6xl font-semibold">
                Latest Posts
            </h4>
            <div class="flex flex-col gap-24 mt-16">
                {% for post in posts %}
                    <article class="flex place-content-between place-items-center gap-8">
                        <div class="w-1/4">
                            <h2 class="font-semibold text-2xl w-full">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h2>
                        </div>

                        <div class="w-2/4 text-gray-500 text-lg">
                            {% if post.header.description %}
                                {{ post.header.description }}
                            {% else %}
                                {{ post.summary|striptags }}
                            {% endif %}
                        </div>

                        {% if post.media.items %}
                            {% set image = post.media.item|first %}
                            <img class="w-1/4 aspect-video object-cover" src="/{{ image.url|webp }}" alt="">
                        {% else %}
                            <img class="w-1/4 aspect-video object-cover" src="https://picsum.photos/400/200.webp?random={{ random() }}" alt="">
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
