{% extends 'partials/base.html.twig' %}

{% set options = { items: {'@self.descendants': '/blog'}, order: {dir: 'desc'} }%}
{% set posts = page.collection(options) %}
{% do paginate(posts, 3) %}

{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block content %}
    {% include 'partials/title.html.twig' %}
        
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">
            {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
                {% include 'partials/breadcrumbs.html.twig' %}
            {% endif %}
        </section>
    </section>

    <section class="flex flex-col gap-24 mt-32">
        {% for post in posts %}
            <article class="flex place-content-between place-items-center gap-8">
                <div class="w-1/4">
                    <h2 class="font-semibold text-2xl w-full">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                </div>

                <div class="w-2/4 text-gray-500 text-lg">
                    {% if post.header.description %}
                        {{ post.header.description }}
                    {% else %}
                        {{ post.summary|striptags('<strong>')|raw }}
                    {% endif %}
                </div>

                {% if post.media.images %}
                    {% set image = post.media|first %}
                    <img class="w-1/4 aspect-video object-cover" src="/{{ image.url|webp }}" alt="">
                {% else %}
                    <img class="w-1/4 aspect-video object-cover" src="https://picsum.photos/400/200.webp?random={{ random() }}" alt="">
                {% endif %}
            </article>
        {% endfor %}
    </section>

    <nav class="mt-32">
        {% if config.plugins.pagination.enabled and posts.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': posts.params.pagination} %}
        {% endif %}
    </nav>
{% endblock %}
