{% extends 'partials/base.html.twig' %}

{% set options = { items: {'@self.children': '/blog'}, order: {dir: 'desc'} }%}
{% set posts = page.collection(options) %}
{% do paginate(posts, 1) %}

{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">
            {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
                {% include 'partials/breadcrumbs.html.twig' %}
            {% endif %}
        </section>
    </section>

    <section class="flex flex-col gap-24 mt-32">
        {% for post in posts %}
            <article class="flex place-content-between place-items-center gap-8">
                <h2 class="font-semibold text-2xl w-full">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <div class="text-gray-500 text-lg">{{ post.summary|raw }}</div>
                <img src="https://picsum.photos/300/150.webp?random={{ random() }}" alt="">
            </article>
        {% endfor %}
    </section>

    <nav class="mt-32">
        {% if config.plugins.pagination.enabled and posts.params.pagination %}
            {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': posts.params.pagination} %}
        {% endif %}
    </nav>
{% endblock %}
