{% set extension = config.theme.production ? '.min' : '' %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}" class="h-full scroll-smooth">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}
                    {{ header.title|e }}
                    |
                {% endif %}
                {{ site.title|e }}</title>

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}"/>
            <link rel="canonical" href="{{ page.url(true, true)|e }}"/>
        {% endblock head %}

        {% block stylesheets %}
            {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
        {% endblock %}

        {% block javascripts %}
            {% do assets.addJs('theme://js/scroll-bgcolor' ~ extension ~ '.js', { loading: 'defer' }) %}
        {% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}
    </head>

    <body id="top" class="{{ page.header.body_classes|e }} {{ config.theme.production ?: 'debug-screens'}} pl-40 pr-12 h-full flex flex-col text-gray-900 transition duration-500">
        {% block aside %}
            {% include 'partials/aside.html.twig' %}
        {% endblock %}

        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block body %}
            <main id="body" class="flex-1">
                {% block title %}
                    <hgroup class="mt-16 ">
                        {% if page.title %}
                            <h1 class="text-8xl text-gray-900 font-bold">{{ page.title }}</h1>
                        {% endif %}

                        {% block subheader%}
                            {% if page.header.subtitle %}
                                <h2 class="mt-8 text-gray-500">{{ page.header.subtitle|raw }}</h2>
                            {% endif %}

                            {% if page.header.description %}
                                <p class="mt-8 text-gray-500">{{ page.header.description|raw }}</p>
                            {% endif %}
                        {% endblock %}
                    </hgroup>
                {% endblock %}

                {% block content %}
                    <div class="mt-8 text-gray-500">{{ content|raw }}</div>
                {% endblock %}
            </main>
        {% endblock %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}
    </body>
</html>
