{% for related_path, score in related_pages %}
    {% set related = grav['pages'].get(related_path) %}

    {% if related %}
        <div class="flex flex-col gap-24 mt-16">
            <article class="flex place-content-between place-items-center gap-8">
                <div class="w-1/4">
                    <h2 class="font-semibold text-2xl w-full">
                        <a href="{{ related.url }}">{{ related.title }}</a>
                    </h2>
                    {% if config.plugins.relatedpages.show_score %}
                        <span class="score">
                            {{ 'SCORE'|t }}:
                            {{ score }}
                        </span>
                    {% endif %}
                </div>

                <div class="w-2/4 text-gray-500 text-lg">
                    {% if related.header.description %}
                        {{ related.header.description }}
                    {% else %}
                        {{ related.summary|striptags }}
                    {% endif %}
                </div>

                {% if related.media %}
                    {% set image = related.media|first %}
                    <img class="w-1/4 aspect-video object-cover" src="/{{ image.url|webp }}" alt="">
                {% else %}
                    <img class="w-1/4 aspect-video object-cover" src="https://picsum.photos/400/200.webp?random={{ random() }}" alt="">
                {% endif %}
            </article>
        </div>
    {% endif %}
{% endfor %}
