{% for related_path, score in related_pages %}
    {% set related = grav['pages'].get(related_path) %}
    {% if related %}
        <article class="flex place-content-between place-items-center gap-8">
            <div class="w-1/3">
                <h2 class="font-semibold text-2xl w-full">
                    <a href="{{ related.url }}">{{ related.title }}</a>
                </h2>
                {% if config.plugins.relatedpages.show_score %}
                    <span class="score">
                        {{ 'SCORE'|t }}:
                        {{ score }}
                    </span>
                {% endif %}
            </div>
            <div class="w-1/3 text-gray-500 text-lg">
                {% if related.header.description %}
                    {{ related.header.description }}
                {% else %}
                    {{ related.summary|striptags }}
                {% endif %}
            </div>
            <div class="w-1/3">
                {% set image = related.media|first %}
                <img src="/{{ image.url|webp }}" alt="">
            </div>
        </article>
    {% endif %}
{% endfor %}
