{% extends 'partials/base.html.twig' %}

{% set word_count = page.content|split(' ')|length + page.title|split(' ')|length + page.summary|split(' ')|length %}

{% if page.media|first.meta.alt %}
    {% set img_alt = page.alt %}
{% else %}
    {% set img_alt = page.header.media_order|replace({'-': ' ' })|split('.')[0] %}
{% endif %}

{% set keyword_list = [] %}
{% for k in page.header.keywords %}
    {% set keyword_list = keyword_list|merge(["\"" ~ k ~ "\""]) %}
{% endfor %}

{% set keywords = keyword_list|join(', ') %}
{% set publish_date = page.header.publish_date|date("Y-m-d\\TH:i:sP") %}
{% set modify_date = page.date|date("Y-m-d\\TH:i:sP") %}

{% set schema = '{"@context": "https://schema.org/","@type": "BlogPosting","@id": "' ~ base_url_absolute ~ page.url ~ '/#BlogPosting","mainEntityOfPage": "' ~ base_url_absolute ~ page.url ~ '","headline": "' ~ page.title ~ '","name": "' ~ page.title ~ '","description": "' ~ page.summary|striptags|replace({'"': '\''}) ~ '","datePublished": "' ~ publish_date ~ '","dateModified": "' ~ modify_date ~ '","image":{"@type": "ImageObject","@id": "' ~ base_url_absolute ~ page.media|first.url ~ '","url": "' ~ base_url_absolute ~ page.media|first.url ~ '","height": "' ~ page.media|first.height ~ '","width": "' ~ page.media|first.width ~ '"},"url": "' ~ base_url_absolute ~ page.url ~ '","keywords": [' ~ keywords ~ ']}' %}

{% block content %}
    <main class="flex-1 prose-sm prose lg:prose-lg max-w-none">
        <section class="hero torn-bottom">
            {{ page.media|first.derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', img_alt, '!m-0 h-[75vh] w-full object-cover brightness-125 contrast-110')|raw }}
        </section>

        <div class="container relative z-10 flex gap-8">
            <aside class="banner not-prose w-1/5 pt-24 hidden md:block">
                <div class="sticky top-28">
                    {% include 'partials/banner.html.twig' %}
                </div>
            </aside>
            <div class="relative shadow-xl px-4 py-4 bg-white border border-black md:w-3/5 -mt-28 lg:px-16 lg:py-12 after:absolute after:w-full after:h-full after:left-1 after:top-1.5 after:border after:border-black after:bg-white after:-z-20">
                <h1>
                    {{ page.title }}
                </h1>
                {{ content|raw }}
            </div>
            <div class="hidden w-1/5 pt-24 md:block">
            </div>
        </div>

        {% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
            <section class="container flex flex-col gap-24 not-prose mt-36">
                <h4 class="pb-1 text-5xl font-bold uppercase md:line-clamp-2">
                    {{ 'THEME.RELATED_POSTS'|t }}
                </h4>

                {% include 'partials/related-pages.html.twig' %}
            </section>
        {% else %}
            <section class="container flex flex-col gap-24 not-prose mt-36">
                <h4 class="pb-1 text-5xl font-bold uppercase md:line-clamp-2">
                    {{ 'THEME.LATEST_POSTS'|t }}
                </h4>

                {% from 'macros/posts.html.twig' import posts %}
                {{ posts(page, '/blog', 2) }}
            </section>
        {% endif %}
    </main>

    {% do assets.addInlineJs(schema, {type: 'application/ld+json', loading: 'defer'}) %}

{% endblock content %}
