{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-sm lg:prose-lg max-w-none">
        <section class="hero torn-bottom">
            {{ page.media|first.derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', 'pegada de carteles', '!m-0 h-[75vh] w-full object-cover brightness-125 contrast-110')|raw }}
        </section>

        <div class="container flex gap-8">
            <div class="not-prose w-1/5 pt-24 hidden md:block">
                <div class="bg-black text-white text-center sticky top-28 rounded-2xl overflow-hidden">
                    <div class="relative p-4 text-2xl">
                        Conoce nuestro servicio de <a href="/"
    class="block text-lg border-2 text-orange-300 border-orange-300 rounded-full mt-2 px-1 pt-1 pb-2 hover:!text-white hover:border-white">pegada de carteles</a>
                    </div>
                    <div class="relative overflow-hidden before:shadow-[0_0_25px_15px_black] before:w-full before:absolute before:left-0">
                        {{ media['theme://images/headers/pegada-de-carteles.webp'].cropZoom(300, 200).html('', 'pegada de carteles', 'w-full object-cover brightness-110 contrast-110 relative -z-10')|raw }}
                    </div>
                </div>
            </div>
            <div class="md:w-3/5 -mt-28 z-10 bg-white px-4 py-4 lg:px-16 lg:py-12 border border-black">
                <h1>
                    {{ page.title }}
                </h1>
                {{ content|raw }}
            </div>
            <div class="w-1/5 pt-24 hidden md:block">
            </div>
        </div>

        {% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
            <section class="container not-prose flex flex-col gap-24 mt-24">
                <h4 class="text-4xl font-semibold">
                    {{ 'THEME.RELATED_POSTS'|t }}
                </h4>

                {% include 'partials/related-pages.html.twig' %}
            </section>
        {% else %}
            {% set options = { items: {'@page.descendants': '/blog'}, order: {dir: 'desc'}, limit: 2 } %}
            {% set posts = page.collection(options) %}

            <section class="container not-prose flex flex-col gap-24 mt-24">
                <h4 class="text-4xl font-semibold">
                    {{ 'THEME.LATEST_POSTS'|t }}
                </h4>

                {% for post in posts %}
                    <article class="flex flex-col place-items-center gap-12 md:flex-row">
                        <div class="bg-skew md:w-1/3">
                            {% if post.media|first %}
                                {{ post.media|first.cropZoom(600, 300).html('', post.title, 'border border-black aspect-video object-cover')|raw }}
                        </div>
                        {% else %}
                            <div class="bg-skew md:w-1/3">
                                <img class="aspect-video object-cover"
                                     src="https://picsum.photos/400/200.webp?random={{ random() }}"
                                     alt=""
                                     width="400"
                                     height="200">
                            </div>
                        {% endif %}
                        <div class="md:w-2/3 text-gray-500 text-lg">
                            <h2 class="font-bold text-4xl md:line-clamp-2 pb-1">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h2>

                            {% if post.header.description %}
                                <p class="mt-4">
                                    {{ post.header.description }}
                                </p>
                            {% else %}
                                <p class="mt-4">
                                    {{ post.summary|striptags("<strong>")|raw }}
                                </p>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        {% endif %}
    </main>
{% endblock %}
