{% extends 'partials/base.html.twig' %}

{% set options = {"items": {"@self.descendants": "/blog"}, "order": {"by": "date", "dir": "asc"}} %}
{% set posts = page.collection(options) %}
{% do paginate(posts, 3) %}

{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true) %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block content %}
    <main class="flex-1 max-w-none">
        <section class="hero torn-bottom">
            <div class="container">
                <div class="absolute z-10 flex items-end h-full align-text-bottom lg:w-3/4">
                    <h1 class="text-white text-5xl font-extrabold -mb-[4px] sm:text-6xl md:text-[5.5rem] 2xl:text-9xl uppercase md:-mb-[8px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            {{ media['theme://images/headers/blog-pegada-de-carteles.webp'].derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', 'pegada de carteles', 'm-0 h-[40vh] w-full object-cover brightness-125 contrast-110')|raw }}
        </section>

        <div class="container mt-24">
            <section id="body-wrapper" class="section blog-listing">
                <section class="container {{ grid_size }}">
                    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
                        {% include 'partials/breadcrumbs.html.twig' %}
                    {% endif %}
                </section>
            </section>

            <section class="flex flex-col gap-24 mt-24">
                {% for post in posts %}
                    <article class="flex flex-col place-items-center gap-12 md:flex-row">
                        {% if post.media.images %}
                            {{ post.media.images|first.cropZoom(600, 300).html('', post.title, 'border border-black aspect-video object-cover md:w-1/3')|raw }}
                        {% else %}
                            <img class="aspect-video object-cover"
                                 src="https://picsum.photos/400/200.webp?random={{ random() }}"
                                 alt=""
                                 width="400"
                                 height="200">
                        {% endif %}

                        <div class="text-gray-500 text-lg">
                            <h2 class="font-bold text-4xl md:line-clamp-2 pb-1">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h2>

                            {% if post.header.description %}
                                <p class="mt-4">
                                    {{ post.header.description }}
                                </p>
                            {% else %}
                                <p class="mt-4">
                                    {{ post.summary|striptags('<strong>')|raw }}
                                </p>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </section>

            {% if config.plugins.pagination.enabled and posts.params.pagination %}
                <nav class="mt-32">
                    {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': posts.params.pagination} %}
                </nav>
            {% endif %}
        </div>
    </main>
{% endblock %}
