{% extends 'partials/base.html.twig' %}

{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true) %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block content %}
    <main class="flex-1 max-w-none">
        <section class="hero torn-bottom">
            <div class="container">
                <div class="absolute z-10 flex items-end h-full align-text-bottom lg:w-3/4">
                    <h1 class="text-white text-5xl font-extrabold -mb-[4px] sm:text-6xl md:text-[5.5rem] 2xl:text-9xl uppercase md:-mb-[8px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            {{ media['theme://images/headers/blog-pegada-de-carteles.webp'].derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', 'pegada de carteles', 'm-0 h-[40vh] w-full object-cover brightness-125 contrast-110')|raw }}
        </section>

        <div class="container mt-24">
            <section id="body-wrapper" class="section blog-listing">
                <section class="container {{ grid_size }}">
                    {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
                        {% include 'partials/breadcrumbs.html.twig' %}
                    {% endif %}
                </section>
            </section>

            <div class="flex gap-8">
                {% from 'macros/posts.html.twig' import posts %}
                <div class="md:w-4/5">
                    {{ posts(page, '/blog', 10) }}

                    {# TODO: integrate navigation posts(posts2) with posts macro(post1) #}
                    {% set options = {items: {'@page.descendants': '/blog'}, pagination: true} %}
                    {% set posts2 = page.collection(options) %}

                    {% if config.plugins.pagination.enabled and posts2.params.pagination %}
                        {% do paginate(posts2, 10) %}
                        <nav class="mt-32">
                            {% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': posts2.params.pagination} %}
                        </nav>
                        <div id="pagination" x-init x-intersect="$ajax({{ page.url }})" x-target="records pagination">
                        </div>
                    {% endif %}
                </div>

                <div class="banner not-prose w-1/5 pt-24 hidden md:block">
                    <div class="bg-black text-white text-center sticky top-28 rounded-2xl overflow-hidden">
                        <div class="relative p-4 text-2xl">
                            Conoce nuestro servicio de <a href="/"
    class="block text-lg border-2 text-orange-300 border-orange-300 rounded-full mt-2 px-1 pt-1 pb-2 hover:!text-white hover:border-white">pegada de carteles</a>
                        </div>
                        <div class="relative overflow-hidden before:shadow-[0_0_25px_15px_black] before:w-full before:absolute before:left-0">
                            {{ media['theme://images/headers/pegada-de-carteles.webp'].cropZoom(300, 200).html('', 'pegada de carteles', 'w-full object-cover brightness-110 contrast-110 relative -z-10')|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
