{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="video torn relative after:absolute after:w-full after:h-8 after:-bottom-6">
            <div class="container">
                <div class="absolute flex items-end h-full align-text-bottom lg:w-1/2">
                    <h1 class="text-white text-8xl uppercase -mb-[10px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        Una pegada de carteles de 5 estrellas
                    </h1>
                </div>
            </div>
            <img class="m-0 h-[75vh] w-full object-cover"
                 src="{{ url('theme://images/headers/pegando-carteles.webp') }}"
                 alt="">
        </section>
        <section class="container">
            <p>
                La pegada de carteles es una acción con un gran impacto, ideal para eventos, conciertos, teatros, acciones de marca
                lanzamientos discográficos, comercios, ferias de muestras, exposiciones, etc. Realizamos la fijación de carteles en el
                formato que mejor convenga a tu idea. Contamos con la mayor cobertura de zonas llegando a todo posible consumidor.
            </p>
            {% include 'partials/reviews.html.twig' %}
        </section>

        <section class="container grid lg:grid-cols-2 lg:gap-x-24 [&>div]:col-span-2] mt-24">
            <div>
                <h2 class="">
                    Wild Posting
                </h2>
                <p>
                    Somos los mejores especialistas en realizar acciones de wild posting en Madrid, Barcelona, Valencia, Sevilla, Bilbao,
                    etc.. Colocamos tantos carteles como necesites en los espacios habilitados para ello, en cualquier tipo de formato.
                    Nosotros podemos ocuparnos de todo el proceso desde impresión de los carteles, o solo de fijación, e incluimos la
                    realización de fotos en el proceso de fijación.
                </p>
            </div>
            <div>
                <h2 class="">
                    Street Marketing
                </h2>
                <p>
                    En Urban Style Publicity contamos con circuitos para la colocación de carteles de interior en Universidades, Interiores
                    de Bares de copas, cafeterías y comercios. Siempre con el consentimiento del mismo. Hacemos acciones personalizadas en
                    zonas o comercios determinados para optimizar el resultado las acciones en relación con el producto que publicitamos.
                </p>
            </div>
            <div>
                <h2 class="">
                    Publicidad exterior
                </h2>
                <p>
                    En Urban Style Publicity contamos con circuitos para la colocación de carteles de interior en Universidades, Interiores
                    de Bares de copas, cafeterías y comercios. Siempre con el consentimiento del mismo. Hacemos acciones personalizadas en
                    zonas o comercios determinados para optimizar el resultado las acciones en relación con el producto que publicitamos.
                </p>
            </div>
        </section>

        <section class="mt-28">
            <div class="wall bg-gradient-to-b xl:bg-gradient-to-r from-red-800 from-50% via-black to-transparent to-50% text-black pt-28 pb-56">
                <div class="container xl:flex xl:gap-28 items-center">
                    <h2 class="mt-0 text-white text-6xl uppercase xl:w-1/2 xl:text-right xl:m-0 drop-shadow-md">
                        Algunas de nuestras pegadas de carteles
                    </h2>
                    <p class="text-4xl xl:!m-0 xl:w-1/2">
                        Nuestro equipo de profesionales se asegurará de que tus carteles sean colocados en los lugares más estratégicos y transitados, maximizando así su visibilidad y alcance.
                    </p>
                </div>
            </div>
            <div class="container -mt-32">
                <div class="grid grid-cols-2 gap-4 md:grid-cols-3  auto-rows-min">
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/cartel-goiko-burguer.webp') }}"
                                 alt="">
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Segmentación geográfica
                            </h3>
                            Puedes elegir ubicaciones específicas para dirigir tu mensaje a audiencias locales o en áreas específicas de interés.
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-teatro.webp') }}"
                                 alt="">
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Atracción de audiencia local
                            </h3>
                            Si tu negocio se dirige principalmente a la comunidad local, una pegada de carteles es una forma muy efectiva de llegar a ese público objetivo.
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-anuncio-teatro.webp') }}"
                                 alt="">
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-goiko.webp') }}"
                                 alt="">
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Costo-efectividad
                            </h3>
                            La pegada de carteles es una forma económica de publicidad en comparación con otros medios más costosos.
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-burguer.webp') }}"
                                 alt="">
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Permanencia en el entorno
                            </h3>
                            A diferencia de otros medios temporales, los carteles en las calles permanecen en el entorno durante un período prolongado, aumentando su exposición.
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/teatro-principe-gran-via.webp') }}"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-28">
            <div class="v-stripes">
                <h2 class="text-6xl uppercase text-right m-0 leading-tight [text-wrap:balance]">
                    <span class="w-fit bg-zinc-400 text-white inline-block  px-[4%] py-4">
                        Contamos con la mayor
                        <br>
                        cobertura de zonas
                    </span>
                </h2>
            </div>
        </section>

        <section class="container grid grid-cols-6 logos mt-28 gap-x-16">
            <div class="">
                <img src="{{ url('theme://images/logos/movistar.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/live-nation.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/bbk.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/dcode.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/warner-music.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/circo-del-sol.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/marquina.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/zalando.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/sony-music.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/noches-del-botanico.png') }}"
                     alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/madcool.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/ifema.png') }}" alt="">
            </div>
        </section>
    </main>
{% endblock %}
