{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none mt-28">
        <section class="container">
            <h1>
                Una pegada de carteles de 5 estrellas
            </h1>
            <p>
                La pegada de carteles es una acción con un gran impacto, ideal para eventos, conciertos, teatros, acciones de marca
                lanzamientos discográficos, comercios, ferias de muestras, exposiciones, etc. Realizamos la fijación de carteles en el
                formato que mejor convenga a tu idea. Contamos con la mayor cobertura de zonas llegando a todo posible consumidor.
            </p>
            {% include 'partials/reviews.html.twig' %}
        </section>

        <section class="container grid lg:grid-cols-2 lg:gap-x-24 [&>div]:col-span-2] mt-24">
            <div>
                <h2 class="">
                    Wild Posting
                </h2>
                <p>
                    Somos los mejores especialistas en realizar acciones de wild posting en Madrid, Barcelona, Valencia, Sevilla, Bilbao,
                    etc.. Colocamos tantos carteles como necesites en los espacios habilitados para ello, en cualquier tipo de formato.
                    Nosotros podemos ocuparnos de todo el proceso desde impresión de los carteles, o solo de fijación, e incluimos la
                    realización de fotos en el proceso de fijación.
                </p>
            </div>
            <div>
                <h2 class="">
                    Street Marketing
                </h2>
                <p>
                    En Urban Style Publicity contamos con circuitos para la colocación de carteles de interior en Universidades, Interiores
                    de Bares de copas, cafeterías y comercios. Siempre con el consentimiento del mismo. Hacemos acciones personalizadas en
                    zonas o comercios determinados para optimizar el resultado las acciones en relación con el producto que publicitamos.
                </p>
            </div>
            <div>
                <h2 class="">
                    Publicidad exterior
                </h2>
                <p>
                    En Urban Style Publicity contamos con circuitos para la colocación de carteles de interior en Universidades, Interiores
                    de Bares de copas, cafeterías y comercios. Siempre con el consentimiento del mismo. Hacemos acciones personalizadas en
                    zonas o comercios determinados para optimizar el resultado las acciones en relación con el producto que publicitamos.
                </p>
            </div>
        </section>

        <section class="mt-28">
            <div class="bg-red-200 pt-28 pb-44">
                <div class="container">
                    <h2 class="mt-0">
                        Algunas de nuestras pegadas de carteles
                    </h2>
                    <p>
                        La pegada de carteles es una forma de publicidad que ha resistido la prueba del tiempo. A pesar de la proliferación de
                        la publicidad digital, la pegada de carteles sigue siendo una herramienta de marketing efectiva
                    </p>
                </div>
            </div>
            <div class="container -mt-32">
                <div class="columns-4 [&>div]:border-2 gap-0 bg-white">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, dolore? Dolores saepe libero obcaecati! Magni non
                        itaque labore culpa quae, eaque, nisi fugit unde voluptates reiciendis fuga cumque dolorem pariatur!
                    </div>
                </div>
            </div>
        </section>

        <section class="logos container mt-28 grid grid-cols-6 gap-x-16">
            <div class="">
                <img src="{{ url('theme://images/logos/movistar.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/live-nation.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/bbk.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/dcode.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/warner-music.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/circo-del-sol.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/marquina.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/zalando.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/sony-music.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/noches-del-botanico.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/madcool.png') }}" alt="">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/ifema.png') }}" alt="">
            </div>
        </section>

        <section class="looker">
            <iframe
                width="100%"
                height="100%"
                src="https://lookerstudio.google.com/embed/reporting/c0e17222-9e30-42b7-a605-969061c1e22a/page/GDdc"
                frameborder="0"
                scrolling="no"></iframe>
        </section>
    </main>
{% endblock %}
