{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="video torn relative after:absolute after:w-full after:h-8 after:-bottom-6">
            <div class="container">
                <div class="absolute flex items-end h-full align-text-bottom lg:w-1/2">
                    <h1 class="text-white text-5xl -mb-[2px] sm:text-6xl sm:-mb-[4px] md:text-8xl uppercase md:-mb-[10px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        Una pegada de carteles de 5 estrellas
                    </h1>
                </div>
            </div>
            <img class="m-0 h-[50vh] md:h-[75vh] w-full object-cover"
                 src="{{ url('theme://images/headers/pegando-carteles.webp') }}"
                 alt="">
        </section>

        <section class="reviews mt-20">
            <div class="container">
                <h2 class="font-semibold leading-snug m-0">
                    Urban Style Publicity se ha convertido en el referente absoluto en la pegada de carteles, avalada por su amplia cartera de clientes y la satisfacción que han demostrado.
                </h2>
 
                <div class="flex flex-wrap justify-center gap-16 uppercase font-semibold text-center mt-20">
                    <div class="">
                        <span class="text-6xl block text-gray-500">+1000</span> trabajos realizados
                    </div>
                    <div class="">
                        <span class="text-6xl block text-gray-500">+8</span> años pegando carteles
                    </div>
                    <div class="">
                        <span class="text-6xl block text-gray-500">+500</span> clientes satisfechos
                    </div>
                </div>

                <div class="mt-24">
                    {% include 'partials/reviews.html.twig' %}
                </div>
            </div>
        </section>

        <section class="mt-28">
            <div class="wall bg-gradient-to-b xl:bg-gradient-to-r from-red-800 from-50% via-black to-transparent to-50% text-black pt-20 pb-40 xl:pb-48">
                <div class="container xl:flex xl:gap-20 items-center">
                    <h2 class="my-0 p-8 text-white text-5xl md:text-6xl uppercase xl:w-1/2 xl:text-right xl:m-0 drop-shadow-md">
                        Algunas de nuestras pegadas de carteles
                    </h2>
                    <p class="text-4xl m-0 p-8 xl:!m-0 xl:w-1/2 bg-white  leading-tight">
                        Nuestro equipo de profesionales se asegurará de que tus carteles sean colocados en los lugares más estratégicos y transitados, maximizando así su visibilidad y alcance.
                    </p>
                </div>
            </div>
            <div class="container -mt-32">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/cartel-goiko-burguer.webp') }}"
                                 alt="">
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Segmentación geográfica
                            </h3>
                            <div class="leading-relaxed">
                                Puedes elegir ubicaciones específicas para dirigir tu mensaje a audiencias locales o en áreas específicas de interés.
                            </div>
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-teatro.webp') }}"
                                 alt="">
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Atracción de audiencia local
                            </h3>
                            <div class="leading-relaxed">
                                Si tu negocio se dirige principalmente a la comunidad local, una pegada de carteles es una forma muy efectiva de llegar a ese público objetivo.
                            </div>
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-anuncio-teatro.webp') }}"
                                 alt="">
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-goiko.webp') }}"
                                 alt="">
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Costo-efectividad
                            </h3>
                            <div class="leading-relaxed">
                                La pegada de carteles es una forma económica de publicidad en comparación con otros medios más costosos.
                            </div>
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/carteles-burguer.webp') }}"
                                 alt="">
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Permanencia en el entorno
                            </h3>
                            <div class="leading-relaxed">
                                A diferencia de otros medios temporales, los carteles en las calles permanecen en el entorno durante un período prolongado, aumentando su exposición.
                            </div>
                        </div>
                        <div>
                            <img class="h-auto w-full m-0"
                                 src="{{ url('theme://images/pages/home/teatro-principe-gran-via.webp') }}"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="-mt-32">
            <div class="wall bg-gradient-to-b xl:bg-gradient-to-l from-black from-50% via-black to-transparent to-50% text-black pt-40">
                <div class="container xl:flex xl:gap-20 items-center">
                    <div class="xl:w-1/2">
                        <div class="text-4xl m-0 pr-8 py-14 xl:!m-0 bg-white leading-tight">
                            Si deseas realizar una campaña de marketing para promocionar algún evento, conciertos, obras de teatro, lanzamiento discográfico, negocios locales, ferias comerciales, exposiciones, u otros; no dudes en ponerte en contacto con nosotros.
                        </div>
                        <div class="bg-red-800 text-white font-semibold rounded-full uppercase px-16 py-8 inline-block ring-4 ring-red-700 w-full text-center">
                            Pedir presupuesto
                        </div>
                    </div>
                    <hgroup class="my-0 p-8  uppercase xl:w-1/2 xl:text-right xl:m-0 drop-shadow-md">
                        <h2 class="text-yellow-200">
                            La pegada de carteles es una acción con un gran impacto
                        </h2>
                        <h3 class="text-white text-5xl md:text-5xl opacity-80 font-bold">
                            Contamos con la mayor cobertura de zonas para un mayor alcance
                        </h3>
                    </hgroup>
                </div>
            </div>
        </section>

        <section class="services mt-28">
            <div class="container flex flex-wrap justify-center lg:grid-cols-2 lg:gap-x-24 [&>div]:col-span-2]">
                <div>
                    <h2 class="">
                        Wild Posting
                    </h2>
                </div>
                <div>
                    <h2 class="">
                        Street Marketing
                    </h2>
                </div>
                <div>
                    <h2 class="">
                        Publicidad exterior
                    </h2>
                </div>
            </div>
        </section>

        <section class="logos container grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 mt-28 gap-x-16">
            <div class="">
                <img src="{{ url('theme://images/logos/movistar.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/live-nation.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/bbk.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/dcode.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/warner-music.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/circo-del-sol.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/marquina.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/zalando.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/sony-music.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/noches-del-botanico.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/madcool.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
            <div>
                <img src="{{ url('theme://images/logos/ifema.png') }}"
                     alt=""
                     width="100%"
                     height="100%">
            </div>
        </section>
    </main>
{% endblock %}
