{% extends 'partials/base.html.twig' %}

{% set options = {"items": {"@page.children": "/our-jobs"}, "order": {"by": "folder", "dir": "asc"}, "pagination": true} %}
{% set galleries = page.collection(options) %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="hero torn-bottom">
            <div class="container">
                <div class="absolute z-10 flex items-end h-full align-text-bottom lg:w-1/2">
                    <h1 class="text-white text-5xl -mb-[2px] sm:text-6xl sm:-mb-[4px] md:text-8xl uppercase md:-mb-[10px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            <video src="{{ url('theme://video/pegada-de-carteles-video.mp4') }}" autoplay loop muted class="w-full m-0 aspect-video">
            </video>
        </section>

        <section>
            <div class="container mt-24 flex gap-12">
                <ul class="m-0 p-0 list-none [&>*:not(:first-child)]:mt-16">
                    {% for gallery in galleries %}
                        <li class="flex gap-12">
                            <a href="{{ gallery.url }}" class="whitespace-nowrap">{{ gallery.title }}</a>

                            {{ photoswipe('photoswipe-gallery-id-'~loop.index, 'a') }}
                            <div id="photoswipe-gallery-id-{{ loop.index }}"
                                 class="columns-1 [&>*]:break-inside-avoid items-center md:columns-3 lg:columns-4 gap-4">
                                {% for picture in gallery.media %}
                                    <div>
                                        <a href="{{ picture.url|e }}"
                                           class="border border-black max-w inline-block p-1"
                                           data-size="{{ picture.width ~ 'x' ~ picture.height }}">
                                            <div class="overflow-hidden">
                                                {{ picture.cropResize(250, 150).loading().html('', '', 'h-auto max-w-full m-0 hover:scale-110 transition-all duration-500')|raw }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <div class="container my-24">
                {{ page.content|raw }}
            </div>

            {# {{ instagram_feed()|raw }} #}
        </main>
    {% endblock %}
