{% extends 'partials/base.html.twig' %}

{% set options = {"items": {"@page.children": "/our-jobs"}, "order": {"by": "folder", "dir": "asc"}, "pagination": true} %}
{% set galleries = page.collection(options) %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="hero torn-bottom">
            <div class="container">
                <div class="absolute z-10 flex items-end h-full align-text-bottom lg:w-1/2">
                    <h1 class="text-white text-5xl -mb-[2px] sm:text-6xl sm:-mb-[4px] md:text-8xl uppercase md:-mb-[10px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            <video src="{{ url('theme://video/pegada-de-carteles-video.mp4') }}" autoplay loop muted class="w-full m-0 aspect-video">
            </video>
        </section>

        <section>
            <div class="container mt-24 flex gap-12">
                <ul class="m-0 p-0 list-none">
                    {% for gallery in galleries %}
                        <li>
                            <a href="{{ gallery.url }}">{{ gallery.title }}</a>
                            {% for picture in gallery.media %}
                                {{ picture|raw }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <div class="container my-24">
            {{ page.content|raw }}
        </div>

        {# {{ instagram_feed()|raw }} #}

        {# <section class="container mt-24">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
                             alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
                             alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
                             alt="">
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"
                             alt="">
                    </div>
                    <div>
                        <img class="h-auto max-w-full m-0"
                             src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"
                             alt="">
                    </div>
                </div>
            </div>
        </section> #}
    </main>
{% endblock %}
