{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="hero torn-bottom">
            <div class="container">
                <div class="absolute z-10 flex items-end h-full align-text-bottom lg:w-3/4">
                    <h1 class="text-white text-5xl -mb-[4px] sm:text-6xl md:text-[5.5rem] 2xl:text-9xl uppercase md:-mb-[8px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        Una pegada de carteles de 5 estrellas
                    </h1>
                </div>
            </div>
            {{ media['theme://images/headers/pegada-de-carteles.webp'].derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', 'pegada de carteles', 'm-0 h-[50vh] md:h-[75vh] w-full object-cover brightness-125 contrast-110')|raw }}
        </section>

        <section class="mt-20 relative before:opacity-100">
            <div class="container flex flex-col md:items-center md:flex-row-reverse gap-16 md:[&>*]:w-1/2">
                <h2 class="font-semibold md:!leading-tight m-0 text-2xl md:text-3xl lg:text-4xl">
                    Urban Style Publicity se ha convertido en el referente absoluto en la pegada de carteles, avalada por su amplia cartera de clientes y la satisfacción que han demostrado.
                </h2>
 
                <div class="flex flex-col lg:whitespace-nowrap justify-center gap-8 uppercase font-semibold sm:text-center">
                    <div class="flex flex-col sm:flex-row md:flex-col lg:flex-row flex-nowrap items-center lg:gap-4 leading-tight">
                        <span class="text-6xl block text-gray-500 sm:w-1/2">+10000</span> trabajos realizados
                    </div>
                    <div class="flex flex-col sm:flex-row md:flex-col lg:flex-row flex-nowrap items-center lg:gap-4 leading-tight">
                        <span class="text-6xl block text-gray-500 sm:w-1/2">+10</span> años pegando carteles
                    </div>
                    <div class="flex flex-col sm:flex-row md:flex-col lg:flex-row flex-nowrap items-center lg:gap-4 leading-tight">
                        <span class="text-6xl block text-gray-500 sm:w-1/2">+1000</span> clientes satisfechos
                    </div>
                </div>
            </div>
        </section>

        <section class="reviews mt-24">
            <div class="container">
                {% include 'partials/reviews.html.twig' %}
            </div>
        </section>

        <section class="jobs mt-28">
            <div class="wall-full xl:wall-half relative bg-gradient-to-b xl:bg-gradient-to-r from-red-800 from-50% via-red-800 to-red-800 xl:to-transparent xl:to-50% text-black pt-24 pb-40 xl:pb-60">
                <div class="container flex flex-col xl:flex-row gap-20 xl:gap-36 items-center">
                    <h2 class="m-0 text-white text-5xl md:text-6xl uppercase xl:w-1/2 xl:text-right xl:m-0 drop-shadow-md">
                        Algunas de nuestras pegadas de carteles
                    </h2>
                    <p class="text-3xl md:text-4xl !m-0 p-4 md:p-8 xl:p-0 xl:w-1/2 bg-white ring-16 ring-white !leading-tight font-semibold">
                        Nuestro equipo de profesionales se asegurará de que tus carteles sean colocados en los lugares más estratégicos y transitados, maximizando así su visibilidad y alcance.
                    </p>
                </div>
            </div>
            <div class="container -mt-32">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 [&>div>div]:ring-16 [&>div>div]:ring-white">
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            {{ media['theme://images/pages/home/cartel-goiko-burguer.webp'].loading().html('', 'valla publicitaria para GoiKo Burguer', 'h-auto w-full m-0 brightness-110 contrast-110 saturate-125')|raw }}
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Segmentación geográfica
                            </h3>
                            <div class="leading-relaxed">
                                Puedes elegir ubicaciones específicas para dirigir tu mensaje a audiencias locales o en áreas específicas de interés.
                            </div>
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/carteles-teatro.webp'].loading().html('', 'pegada de carteles para obras de teatro', 'h-auto w-full m-0 brightness-110 contrast-110 saturate-110')|raw }}
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Atracción de audiencia local
                            </h3>
                            <div class="leading-relaxed">
                                Si tu negocio se dirige principalmente a la comunidad local, una pegada de carteles es una forma muy efectiva de llegar a ese público objetivo.
                            </div>
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/carteles-anuncio-teatro.webp'].loading().html('', 'carteles de publicidad para fachada de teatro', 'h-auto w-full m-0 brightness-125 contrast-125 saturate-125')|raw }}
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/carteles-goiko.webp'].loading().html('', 'pegada de carteles para goiko burguer', 'h-auto w-full m-0 brightness-125 contrast-110 saturate-110')|raw }}
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Costo-efectividad
                            </h3>
                            <div class="leading-relaxed">
                                La pegada de carteles es una forma económica de publicidad en comparación con otros medios más costosos.
                            </div>
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            {{ media['theme://images/pages/home/carteles-burguer.webp'].loading().html('', 'pegada de carteles para hamburguesería', 'h-auto w-full m-0 brightness-125 contrast-125 saturate-125')|raw }}
                        </div>
                        <div class="bg-white border border-black p-8">
                            <h3 class="mt-0">
                                Permanencia en el entorno
                            </h3>
                            <div class="leading-relaxed">
                                A diferencia de otros medios temporales, los carteles en las calles permanecen en el entorno durante un período prolongado, aumentando su exposición.
                            </div>
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/teatro-principe-gran-via.webp'].loading().html('', 'graffiti para teatro Príncipe Gran Vía', 'h-auto w-full m-0 brightness-125 contrast-125 saturate-125')|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="-mt-32">
            <div class="wall-full xl:wall-half relative bg-gradient-to-b xl:bg-gradient-to-l from-black from-75% xl:from-50% via-black to-white to-75% xl:to-50% text-black pt-56 pb-40 before:right-0">
                <div class="container flex flex-col-reverse xl:flex-row gap-20 xl:gap-x-36 items-center">
                    <div class="xl:w-1/2 bg-white ring-16 ring-white">
                        <p class="text-3xl md:text-4xl !m-0 p-4 md:p-8 xl:p-0 xl:text-right !leading-tight font-semibold">
                            Si deseas realizar una campaña de marketing para promocionar algún evento, conciertos, obras de teatro, lanzamientos discográficos, negocios locales, ferias comerciales, exposiciones, u otros; no dudes en ponerte en contacto con nosotros.
                        </p>
                    </div>
                    <hgroup class="flex flex-col gap-8 uppercase xl:w-1/2 xl:m-0 drop-shadow-md">
                        <h2 class="text-yellow-200 m-0">
                            La pegada de carteles es una acción con un gran impacto
                        </h2>
                        <h3 class="text-white m-0 text-5xl md:text-5xl opacity-80 font-bold">
                            Contamos con la mayor cobertura de zonas para un mayor alcance
                        </h3>
                    </hgroup>
                </div>
            </div>
            <div class="container xl:w-1/2 -mt-12">
                <a href="/contact"
                   class="bg-red-800 !text-white hover:cursor-pointer font-semibold rounded-full uppercase px-16 py-8 inline-block border-4 border-red-700 w-full text-center ring-16 ring-white hover:scale-102 transition-all">
                    Pedir presupuesto
                </a>
            </div>
        </section>

        <section class="faqs container mt-28">
            <div class="flex flex-col items-center">
                <h2 class="font-bold text-5xl mt-5 tracking-tight">
                    FAQ
                </h2>
	
                <p class="text-neutral-500 text-xl mt-3">
                    Frequenty asked questions
                </p>
            </div>

            <div class="grid grid-cols-2 gap-8"
                 x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }">
                <div class="relative w-full">
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-neutral-200/60 text-neutral-800' : activeAccordion==id, 'border-transparent text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border rounded-md cursor-pointer group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full px-5 py-4 font-semibold text-left select-none">
                            <span>What is Pines?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-full h-0.5 ease duration-500 bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-5 pt-0 opacity-70">
                                Pines is a UI library built for AlpineJS and TailwindCSS.
                            </div>
                        </div>
                    </div>
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-neutral-200/60 text-neutral-800' : activeAccordion==id, 'border-transparent text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border rounded-md cursor-pointer group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full px-5 py-4 font-semibold text-left select-none">
                            <span>How do I install Pines?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-full h-0.5 ease duration-500 bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-5 pt-0 opacity-70">
                                Add AlpineJS and TailwindCSS to your page and then copy and paste any of these elements into your project.
                            </div>
                        </div>
                    </div>
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-neutral-200/60 text-neutral-800' : activeAccordion==id, 'border-transparent text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border rounded-md cursor-pointer group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full px-5 py-4 font-semibold text-left select-none">
                            <span>Can I use Pines with other libraries or frameworks?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-full h-0.5 ease duration-500 bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-5 pt-0 opacity-70">
                                Absolutely! Pines works with any other library or framework. Pines works especially well with the TALL stack.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative w-full">
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-neutral-200/60 text-neutral-800' : activeAccordion==id, 'border-transparent text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border rounded-md cursor-pointer group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full px-5 py-4 font-semibold text-left select-none">
                            <span>What is Pines?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-full h-0.5 ease duration-500 bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-5 pt-0 opacity-70">
                                Pines is a UI library built for AlpineJS and TailwindCSS.
                            </div>
                        </div>
                    </div>
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-neutral-200/60 text-neutral-800' : activeAccordion==id, 'border-transparent text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border rounded-md cursor-pointer group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full px-5 py-4 font-semibold text-left select-none">
                            <span>How do I install Pines?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-full h-0.5 ease duration-500 bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-5 pt-0 opacity-70">
                                Add AlpineJS and TailwindCSS to your page and then copy and paste any of these elements into your project.
                            </div>
                        </div>
                    </div>
 
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-neutral-200/60 text-neutral-800' : activeAccordion==id, 'border-transparent text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border rounded-md cursor-pointer group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full px-5 py-4 font-semibold text-left select-none">
                            <span>Can I use Pines with other libraries or frameworks?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-2.5 h-2.5 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-full h-0.5 ease duration-500 bg-neutral-500 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-5 pt-0 opacity-70">
                                Absolutely! Pines works with any other library or framework. Pines works especially well with the TALL stack.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="services mt-28">
            <div class="container flex flex-wrap justify-center lg:grid-cols-2 lg:gap-x-24 [&>div]:col-span-2]">
                <div>
                    <h2 class="">
                        Wild Posting
                    </h2>
                </div>
                <div>
                    <h2 class="">
                        Street Marketing
                    </h2>
                </div>
                <div>
                    <h2 class="">
                        Publicidad exterior
                    </h2>
                </div>
            </div>
        </section>

        <section class="logos container grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 mt-28 gap-x-16">
            <div>
                {{ media['theme://images/logos/movistar.png'].cropResize('140', '62').loading().html('', 'logo movistar', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/live-nation.png'].cropResize('140', '62').loading().html('', 'logo live nation', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/bbk.png'].cropResize('140', '62').loading().html('', 'logo bbk', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/dcode.png'].cropResize('140', '62').loading().html('', 'logo dcode', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/warner-music.png'].cropResize('140', '62').loading().html('', 'logo warner music', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/circo-del-sol.webp'].cropResize('140', '62').loading().html('', 'logo circo del sol', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/marquina.png'].cropResize('140', '62').loading().html('', 'logo marquina', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/zalando.png'].cropResize('140', '62').loading().html('', 'logo zalando', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/sony-music.png'].cropResize('140', '62').loading().html('', 'logo sony music', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/noches-del-botanico.png'].cropResize('140', '62').loading().html('', 'logo noches del botánico', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/madcool.png'].cropResize('140', '62').loading().html('', 'logo madcool', '')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/ifema.png'].cropResize('140', '62').loading().html('', 'logo ifema', '')|raw }}
            </div>
        </section>
    </main>
{% endblock %}
