{% extends 'partials/base.html.twig' %}

{% set publish_date = page.header.publish_date|date("Y-m-d\\TH:i:sP") %}
{% set modify_date = page.date|date("Y-m-d\\TH:i:sP") %}

{% set schema = '{
"@context": "https://schema.org",
"@type": "LocalBusiness",
"name": "Urban Style Publicity",
"description": "Empresa especializada en la pegada y colocación de carteles, vallas publicitarias y otros soportes de publicidad exterior en Madrid, Barcelona y el resto de España.",
"image": "https://urbanstylepublicity.com/images/p/e/g/a/d/pegada-de-carteles-456b2da4.webp",
"@id": "https://urbanstylepublicity.com",
"url": "https://urbanstylepublicity.com",
"telephone": "913052922",
"address": {
"@type": "PostalAddress",
"streetAddress": "Av del Manzanares, 202",
"addressLocality": "Madrid",
"postalCode": "28026",
"addressCountry": "ES"
},
"geo": {
"@type": "GeoCoordinates",
"latitude": 40.3926834,
"longitude": -3.702346299999999
},
"openingHoursSpecification": [{
"@type": "OpeningHoursSpecification",
"dayOfWeek": [
"Monday",
"Tuesday",
"Wednesday",
"Thursday"
],
"opens": "09:00",
"closes": "18:00"
},{
"@type": "OpeningHoursSpecification",
"dayOfWeek": "Friday",
"opens": "09:00",
"closes": "14:00"
}],
"sameAs": [
"https://www.facebook.com/profile.php?id=61557928546519",
"https://twitter.com/pegadacarteles",
"https://instagram.com/urban_style_publicity",
"https://www.youtube.com/@pegadadecarteles",
"https://www.linkedin.com/in/pedro-jim%C3%A9nez-39671b124/",
"https://www.wikidata.org/wiki/Q216931"
]
}' %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="hero torn-bottom">
            <div class="container">
                <div class="absolute z-10 flex items-end h-full pr-8 align-text-bottom bottom-16 md:bottom-20 lg:w-10/12 xl:w-3/4 2xl:w-7/12">
                    <h1 class="text-white text-balance pr-8 text-4xl m-0 sm:text-[3.5rem] md:text-7xl lg:text-[5.25rem] xl:text-[5.5rem] uppercase md:-mb-[8px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            {{ media['theme://images/headers/pegada-de-carteles.webp'].derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').html('', 'pegada de carteles', 'm-0 h-[50vh] md:h-[75vh] w-full object-cover brightness-125 contrast-110')|raw }}
        </section>

        <section class="relative mt-16 md:mt-20 before:opacity-100">
            <div class="container flex flex-col md:items-center md:flex-row-reverse gap-16 md:[&>*]:w-1/2">
                <h2 class="font-semibold md:!leading-tight m-0 text-2xl md:text-3xl lg:text-4xl text-balance">
                    La pegada de carteles es lo que nos ha convertido en el actual referente en España, avalados por el gran número de clientes y la satisfacción que han demostrado.
                </h2>

                <div class="flex flex-col justify-center gap-8 font-semibold uppercase lg:whitespace-nowrap sm:text-center">
                    <div class="flex flex-col items-center leading-tight sm:flex-row md:flex-col lg:flex-row flex-nowrap lg:gap-4">
                        <span class="block text-6xl text-gray-500 sm:w-1/2">+10000</span> trabajos realizados
                    </div>
                    <div class="flex flex-col items-center leading-tight sm:flex-row md:flex-col lg:flex-row flex-nowrap lg:gap-4">
                        <span class="block text-6xl text-gray-500 sm:w-1/2">+10</span> años pegando carteles
                    </div>
                    <div class="flex flex-col items-center leading-tight sm:flex-row md:flex-col lg:flex-row flex-nowrap lg:gap-4">
                        <span class="block text-6xl text-gray-500 sm:w-1/2">+1000</span> clientes satisfechos
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-24 reviews">
            <div class="container">
                {% include 'partials/reviews.html.twig' %}
            </div>
        </section>

        <section class="jobs mt-28">
            <div class="wall-full xl:wall-half relative bg-gradient-to-b xl:bg-gradient-to-r from-red-800 from-50% via-red-800 to-red-800 xl:to-transparent xl:to-50% text-black pt-24 pb-40 xl:pb-60">
                <div class="container flex flex-col items-center gap-20 xl:flex-row xl:gap-36">
                    <h2 class="m-0 text-5xl text-white uppercase md:text-6xl xl:w-1/2 xl:text-right xl:m-0 drop-shadow-md">
                        Algunas de nuestras pegadas de carteles
                    </h2>
                    <p class="text-3xl md:text-4xl !m-0 p-4 md:p-8 xl:p-0 xl:w-1/2 bg-white ring-16 ring-white !leading-tight font-semibold">
                        Deja que nuestro equipo de profesionales se encargue de que tus carteles se vean en los lugares más estratégicos y transitados para potenciar su visibilidad y alcance.
                    </p>
                </div>
            </div>
            <div class="container -mt-32">
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 [&>div>div]:ring-16 [&>div>div]:ring-white">
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            {{ media['theme://images/pages/home/cartel-goiko-burguer.webp'].cropResize(640, 640).derivatives(320, 640, 80).loading().html('', 'valla publicitaria para GoiKo Burguer', 'h-auto w-full m-0 brightness-110 contrast-110 saturate-125')|raw }}
                        </div>
                        <div class="p-8 bg-white border border-black">
                            <h3 class="mt-0">
                                Segmentación geográfica
                            </h3>
                            <div class="leading-relaxed">
                                Puedes elegir ubicaciones específicas para dirigir tu mensaje a audiencias locales o en áreas específicas de interés.
                            </div>
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/carteles-teatro.webp'].cropResize(640, 640).derivatives(320, 640, 80).loading().html('', 'pegada de carteles en Madrid para obras de teatro', 'h-auto w-full m-0 brightness-110 contrast-110 saturate-110')|raw }}
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div class="p-8 bg-white border border-black">
                            <h3 class="mt-0">
                                Atracción de audiencia local
                            </h3>
                            <div class="leading-relaxed">
                                Si tu negocio se dirige principalmente a la comunidad local, <strong>una pegada de carteles es una acción muy efectiva</strong> para llegar a ese público objetivo.
                            </div>
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/carteles-anuncio-teatro.webp'].cropResize(640, 640).derivatives(320, 640, 80).loading().html('', 'carteles de publicidad para fachada de teatro', 'h-auto w-full m-0 brightness-125 contrast-125 saturate-125')|raw }}
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/carteles-goiko.webp'].cropResize(640, 640).derivatives(320, 640, 80).loading().html('', 'pegada de carteles en Madrid para goiko burguer', 'h-auto w-full m-0 brightness-125 contrast-110 saturate-110')|raw }}
                        </div>
                        <div class="p-8 bg-white border border-black">
                            <h3 class="mt-0">
                                Costo-efectividad
                            </h3>
                            <div class="leading-relaxed">
                                La <i>pegada de carteles es una forma económica</i> de publicidad en comparación con otros medios más costosos.
                            </div>
                        </div>
                    </div>
                    <div class="grid gap-4 auto-rows-min">
                        <div>
                            {{ media['theme://images/pages/home/carteles-burguer.webp'].cropResize(640, 640).derivatives(320, 640, 80).loading().html('', 'pegada de carteles en Madrid para hamburguesería', 'h-auto w-full m-0 brightness-125 contrast-110 saturate-125')|raw }}
                        </div>
                        <div class="p-8 bg-white border border-black">
                            <h3 class="mt-0">
                                Permanencia en el entorno
                            </h3>
                            <div class="leading-relaxed">
                                A diferencia de otros medios temporales, los carteles en las calles permanecen en el entorno durante un período prolongado, aumentando su exposición.
                            </div>
                        </div>
                        <div>
                            {{ media['theme://images/pages/home/cartel-madrid-teatro-marquina.webp'].cropResize(640, 640).derivatives(320, 640, 80).loading().html('', 'cartel para la obra El Premio en el Teatro Marquina', 'h-auto w-full m-0 brightness-125 contrast-125 saturate-125')|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="-mt-32">
            <div class="wall-full xl:wall-half relative bg-gradient-to-b xl:bg-gradient-to-l from-black from-75% xl:from-50% via-black to-white to-75% xl:to-50% text-black pt-56 pb-40 before:right-0">
                <div class="container flex flex-col-reverse items-center gap-20 xl:flex-row xl:gap-x-36">
                    <div class="bg-white xl:w-1/2 ring-16 ring-white">
                        <p class="text-3xl md:text-4xl !m-0 p-4 md:p-8 xl:p-0 xl:text-right !leading-tight font-semibold">
                            Si deseas realizar una <strong>pegada de carteles para promocionar</strong> algún evento, obra de teatro, negocio local, feria comercial o exposición, un lanzamiento discográfico o un concierto; contáctanos antes de decidirlo.
                        </p>
                    </div>
                    <hgroup class="flex flex-col gap-8 uppercase xl:w-1/2 xl:m-0 drop-shadow-md">
                        <h2 class="m-0 text-yellow-200">
                            Pegadas de carteles con gran impacto...
                        </h2>
                        <h3 class="m-0 text-5xl font-bold text-white md:text-5xl opacity-80">
                            porque contamos con la mayor cobertura de zonas para un mayor alcance
                        </h3>
                    </hgroup>
                </div>
            </div>
            <div class="container -mt-12 max-w-max">
                <a href="/contact"
                   class="bg-red-800 !text-white hover:cursor-pointer font-semibold rounded-full uppercase px-16 py-8 inline-block border-4 border-red-700 w-full text-center ring-16 ring-white hover:scale-102 transition-all"
                   style="text-wrap: balance">
                    Pedir presupuesto para tu próxima pegada de carteles
                </a>
            </div>
        </section>

        <section class="container faqs mt-28">
            <div class="flex flex-col items-center">
                <h2 class="mt-5 text-5xl font-bold tracking-tight">
                    Preguntas frecuentes
                </h2>
            </div>

            <div class="grid grid-cols-1 mt-8 md:grid-cols-2 md:gap-4"
                 x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }">
                <div class="relative flex flex-col w-full gap-4">
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Cobran por diseño de carteles?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Ofrecemos un servicio completo que incluye diseño básico de carteles a un módico precio. Si requiere diseños más elaborados, podemos presupuestar diseños más personalizados.
                            </div>
                        </div>
                    </div>
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿En qué ciudades trabajan?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Actualmente podemos brindar nuestros servicios en todo el territorio nacional siendo las principales ciudades como Madrid, Barcelona, Valencia o Sevilla en las que tenemos mayor presencia.
                            </div>
                        </div>
                    </div>
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Cuánto tiempo se mantienen los carteles puestos?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Nuestros carteles se mantienen expuestos durante el periodo acordado, que normalmente va de 2 semanas a un mes.
                            </div>
                        </div>
                    </div>

                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Ofrecen descuentos por volumen?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Puede solicitar un presupuesto sin compromiso a través de nuestro <a href="/contacto">formulario de contacto</a>. Indique la ciudad, número de carteles y periodo deseado y nos pondremos en contacto con usted a la mayor brevedad posible.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative flex flex-col w-full gap-4 mt-4 md:mt-0">
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Qué lugares utilizan para pegar los carteles?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Pegamos carteles en lugares públicos de alta afluencia como paradas de autobús, calles comerciales, estaciones de metro, entre otros.
                            </div>
                        </div>
                    </div>

                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Ofrecen servicio de seguimiento y reposición de carteles?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Sí, nuestras pegadas de carteles incluyen seguimiento y reposición de los carteles dañados o tapados durante el periodo de exhibición contratado.
                            </div>
                        </div>
                    </div>

                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Cómo puedo solicitar un presupuesto?</span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Puede solicitar un presupuesto sin compromiso a través de nuestro <a href="/contacto">formulario de contacto</a>. Indique la ciudad, número de carteles y periodo deseado y nos pondremos en contacto con usted a la mayor brevedad posible.
                            </div>
                        </div>
                    </div>

                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'border-black text-neutral-800' : activeAccordion==id, 'border-gray-500 text-neutral-600 hover:text-neutral-800' : activeAccordion!=id }"
                         class="duration-200 ease-out bg-white border cursor-pointer rounded-3xl group"
                         x-cloak>
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full py-4 pr-5 font-semibold text-left select-none pl-7">
                            <span>¿Cómo verifico que pegaron mis carteles?
                            </span>
                            <div :class="{ 'rotate-90': activeAccordion==id }"
                                 class="relative flex items-center justify-center w-3 h-3 duration-300 ease-out">
                                <div class="absolute w-0.5 h-full bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                                <div :class="{ 'rotate-90': activeAccordion==id }"
                                     class="absolute w-3 h-0.5 ease duration-500 bg-red-700 group-hover:bg-neutral-800 rounded-full">
                                </div>
                            </div>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="pt-0 pb-6 px-7 opacity-70">
                                Le proporcionaremos reportes fotográficos cuando los necesite, tanto al inicio de la campaña, durante la misma o después de su finalización, para que pueda verificar la colocación de los carteles.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container grid grid-cols-2 logos sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 mt-28 gap-x-16">
            <div>
                {{ media['theme://images/logos/movistar.png'].cropResize('150', '70').loading().html('', 'logo movistar', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/live-nation.png'].cropResize('150', '70').loading().html('', 'logo live nation', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/bbk.png'].cropResize('150', '70').loading().html('', 'logo bbk', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/dcode.png'].cropResize('150', '70').loading().html('', 'logo dcode', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/warner-music.png'].cropResize('150', '70').loading().html('', 'logo warner music', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/circo-del-sol.webp'].cropResize('150', '70').loading().html('', 'logo circo del sol', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/marquina.png'].cropResize('150', '70').loading().html('', 'logo marquina', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/zalando.png'].cropResize('150', '70').loading().html('', 'logo zalando', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/sony-music.png'].cropResize('150', '70').loading().html('', 'logo sony music', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/noches-del-botanico.png'].cropResize('150', '70').loading().html('', 'logo noches del botánico', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/madcool.png'].cropResize('150', '70').loading().html('', 'logo madcool', 'w-full')|raw }}
            </div>
            <div>
                {{ media['theme://images/logos/ifema.png'].cropResize('150', '70').loading().html('', 'logo ifema', 'w-full')|raw }}
            </div>
        </section>

        <section class="container mt-16 posts">
            <div class="container flex flex-wrap justify-center lg:grid-cols-2 lg:gap-x-24 [&>div]:col-span-2]">
                <div>
                    <h2>
                        Wild Posting
                    </h2>
                </div>
                <div>
                    <h2>
                        Street Marketing
                    </h2>
                </div>
                <div>
                    <h2>
                        Publicidad exterior
                    </h2>
                </div>
            </div>

            {% from 'macros/posts.html.twig' import posts %}
            {{ posts(page, '/blog', 2, ['Madrid'], 'mt-24') }}
        </section>
    </main>

    {% do assets.addInlineJs(schema, {type: 'application/ld+json', loading: 'defer'}) %}

{% endblock %}
