{% extends './partials/base.html.twig' %}

{% set options = {"items": {"@page.children": "/services"}, "order": {"by": "folder", "dir": "asc"}, "pagination": true} %} {% set my_collection = page.collection(options) %}

{% block content %}
    <main class="flex-1 prose prose-xl max-w-none">
        <section class="torn-bottom">
            <div class="container">
                <div class="absolute flex items-end h-full align-text-bottom lg:w-1/2">
                    <h1 class="text-white text-5xl -mb-[2px] sm:text-6xl sm:-mb-[4px] md:text-8xl uppercase md:-mb-[10px] drop-shadow-[0px_0px_5px_rgba(0,0,0,1)]">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            <img class="m-0 h-[50vh] md:h-[75vh] w-full object-cover"
                 src="{{ url('theme://images/headers/tu-publicidad-aqui.webp') }}"
                 alt="">
        </section>
 
        <div class="container mt-24">
            {% for p in my_collection %}
                {% set isReverse = loop.index is even ? 'lg:text-right lg:flex-row-reverse [&_h2]:left-0 [&_h2]:text-left' : '[&_h2]:right-0 [&_h2]:text-right' %}
                {% set gradient_dir = loop.index is even ? 'bg-gradient-to-r' : 'bg-gradient-to-l' %}
 
                <div class="flex flex-col items-center gap-4 mt-16 first:mt-0 lg:flex-row lg:gap-16 lg:mt-20 {{ isReverse }}">
                    <div class="relative lg:w-1/2">
                        {{ p.media|first.cropZoom(550, 310).html('', p.title, 'm-0 aspect-video w-full')|raw }}
                        <h2 class="wall-full z-0 drop-shadow absolute bottom-0 w-full m-0 p-6 uppercase text-white line-clamp-2 break-words text-5xl {{ gradient_dir }} from-red-900 to-transparent before:left-0">
                            {{ p.title | e }}
                        </h2>
                    </div>
                    <div class="lg:w-1/2">
                        {{ p.content | raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
