---
import { SEO as Seo } from "astro-seo";
import Schemas from "@/components/Schemas.astro";
import Ga4 from "@/components/Ga4.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import Cover from "@/assets/images/header/pegada-de-carteles.webp";
import "../styles/global.css";

const {
    title = "Agencia de publicidad exterior | Urban Style Publicity",
    description = "Agencia de publicidad exterior con presencia en Madrid, Barcelona y principales ciudades. Especialistas en pegar el 90% de carteles que ves a diario.",
    Cover: { src: cover } = { src: Cover.src },
    schema = "webpage",
    ogType = "website",
} = Astro.props;

const faviconUrl = import.meta.env.PROD
    ? import.meta.env.BASE_URL + "favicon-48.png"
    : import.meta.env.BASE_URL + "favicon.svg";

const sitemapUrl = import.meta.env.BASE_URL + "sitemap-index.xml";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href={faviconUrl} />
        <link rel="icon" href={import.meta.env.BASE_URL + "favicon-96.png"} />
        <link rel="icon" href={import.meta.env.BASE_URL + "favicon-144.png"} />
        <link rel="apple-touch-icon" href={import.meta.env.BASE_URL + "favicon-180.png"} />
        <link rel="icon" href={import.meta.env.BASE_URL + "favicon-192.png"} />
        <link rel="sitemap" href={sitemapUrl} />
        <Seo
            title={title}
            description={description}
            openGraph={{
                basic: {
                    title: title,
                    type: ogType,
                    image: Astro.props.cover ? Astro.props.cover.src : cover,
                },
                optional: {
                    description: description,
                    locale: "es_ES",
                },
            }}
            ,
            twitter={{
                creator: "@pegadacarteles",
            }}
        />

        <Schemas pageTitle={title} pageDesc={description} pageCover={Astro.props.cover} types={[schema]} />

        <!-- Toggle DEV/PROD to enable Clarity -->
        { import.meta.env.PROD && <>
            <Ga4 id="G-7M3F93FBD4" partytown={true} />
            <script type="text/javascript">
                (function (c, l, a, r, i, t, y) {
                    c[a] =
                        c[a] ||
                        function () {
                            (c[a].q = c[a].q || []).push(arguments);
                        };
                    t = l.createElement(r);
                    t.async = 1;
                    t.src = "https://www.clarity.ms/tag/" + i;
                    y = l.getElementsByTagName(r)[0];
                    y.parentNode.insertBefore(t, y);
                })(window, document, "clarity", "script", "rwm6qyc72y");
                console.log('is prod');
            </script>
        </>}
    </head>
    <body class={import.meta.env.DEV ? "debug-screens" : null}>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
