{% set extension = config.theme.production ? '.min' : '' %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getLanguage ?: grav.config.site.default_lang)|e }}">
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}
                    {{ header.title|e }}
                    |
                {% endif %}
                {{ site.title|e }}
            </title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% include 'partials/metadata.html.twig' %}

            {% if config.plugins.langswitcher.enabled %}
                {% include 'partials/langswitcher.hreflang.html.twig' %}
            {% endif %}

            <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}">
            <link rel="canonical" href="{{ page.url(true, true)|e }}"/>
        {% endblock head %}

        {% block stylesheets %}
            {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
        {% endblock %}

        {% block javascripts %}
            {% do assets.addJsModule('theme://js/main' ~ extension ~ '.js', 98) %}
        {% endblock %}

        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
        {% endblock %}

        <style>
            [x-cloak] {
                display: none !important;
            }
        </style>
    </head>

    <body id="top" class="{{ page.header.body_classes|e }} {{ config.theme.production ?: 'debug-screens' }}">
        <div id="overlay" class="bg-white bg-opacity-50 backdrop-blur w-full fixed z-40 md:hidden"></div>

        {% block header %}
            {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            {% include "partials/footer.html.twig" %}
        {% endblock %}

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

    </body>
</html>
