{% import 'macros/menu.html.twig' as macros %}

{% set options = {"items": {"@page.children": "/services"}, "order": {"dir": "asc"}} %}
{% set services = page.collection(options) %}

{% set margin = page.template == 'report' ? 'mt-16' : 'mt-28' %}

{{ media['theme://images/ciudad-footer.webp'].derivatives(320, 1920, 240).loading('lazy').html('', '', 'w-full')|raw }}
<footer class="flex flex-col gap-8  py-24 text-base text-gray-200 bg-black">
    <div class="container flex flex-col justify-between gap-20 lg:flex-row [&>*]:lg:w-1/3 [&>*]:xl:w-auto">
        <div>
            <h3 class="text-3xl text-gray-200">
                {{ services|first.parent.title }}
            </h3>

            <ul class="gap-12 mt-8 columns-2">
                <li class="mb-4">
                    <a href="/">Pegada de carteles</a>
                </li>
                {% for service in services %}
                    <li class="mb-4">
                        <a href="{{ service.link }}">{{ service.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            {% set options = {items: {'@page.descendants': '/blog'}, order: {'by': 'publish_date', 'dir': 'desc'}, limit: 5} %}
            {% set posts = page.collection(options) %}

            <h3 class="text-3xl text-gray-200">
                Últimos artículos
            </h3>

            <div id="records" class="{{ classes }} flex flex-col gap-4 mt-8" x-merge="append">
                {% for item in posts %}
                    {% if item.header.publish_date %}
                        <article class="flex flex-col gap-4">
                            <div class="text-lg text-gray-500">
                                <h4 class="p-0 pb-1 my-0 text-base text-balance md:line-clamp-2">
                                    <a href="{{ item.url }}">{{ item.title }}</a>
                                </h4>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="flex flex-col self-stretch justify-between">
            <div>
                <h3 class="flex items-center gap-2 text-3xl text-gray-200">
                    <span class="leading-none">91 305 29 22</span>
                    {{ svg('theme://images/icons/phone.svg', 'w-7 h-7 self-end -rotate-90')|raw }}
                </h3>

                <address class="mt-4">
                    <a href="https://maps.app.goo.gl/DiryCTKNXY3yaZAs8" target="_blank">
                        Av del Manzanares, 202
                        <br>
                        28026, Madrid, España
                    </a>
                </address>
            </div>

            <div class="mt-8">
                <h3 class="text-3xl text-gray-200">
                    Redes sociales
                </h3>
                <ul class="flex items-center gap-4 mt-4">
                    <li>
                        <a href="https://instagram.com/urban_style_publicity" target="_blank" title="Pegadas de carteles en Instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61557928546519" target="_blank" title="Pegadas de carteles en Facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/pegadacarteles" target="_blank" title="Pegadas de carteles en Twitter">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/pedro-jim%C3%A9nez-39671b124/"
                           target="_blank"
                           title="Pegadas de carteles en LinkedIn">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://youtube.com/@pegadadecarteles"
                           target="_blank"
                           title="Pegada de carteles en Youtube"
                           title="Pegadas de carteles en Youtube">Youtube</a>
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-4 mt-8">
                <div>
                    © 2016 - {{ 'now'|date("Y") }} Urban Style Publicity, S.L.
                </div>
                <div class="flex flex-wrap gap-x-8 gap-y-4">
                    {% include 'partials/legal-links.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/indexer-links.html.twig' %}
</footer>
