{% import 'macros/menu.html.twig' as macros %}

{% set options = {"items": {"@page.children": "/services"}, "order": {"dir": "asc"}} %}
{% set services = page.collection(options) %}

{% set margin = page.template == 'report' ? 'mt-16' : 'mt-28' %}

<footer class="torn-top flex flex-col gap-8 {{ margin }} pt-32 pb-24 text-base text-white bg-black">
    <div class="container flex flex-col gap-12 lg:flex-row justify-between text-white">
        <div class="min-w-max">
            <h3 class="text-white text-3xl">
                {{ services|first.parent.title }}
            </h3>

            <ul class="columns-2 gap-12 mt-8">
                <li class="mb-4">
                    <a href="/">Pegada de carteles</a>
                </li>
                {% for service in services %}
                    <li class="mb-4">
                        {{ service.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="flex flex-col min-w-max self-stretch justify-between">
            <div>
                <h3 class="text-white text-3xl">
                    Redes sociales
                </h3>
                <ul class="flex items-center gap-4 mt-8">
                    <li>
                        <a href="https://instagram.com/urban_style_publicity"
                           title="Pegada de carteles en Instagram">Instagram</a>
                    </li>
                    <li>
                        <a href="https://youtube.com/@pegadadecarteles"
                           title="Pegada de carteles en Youtube">Youtube</a>
                    </li>
                    {# <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li> #}
                </ul>
            </div>
 
            <h3 class="flex gap-2 items-center text-white text-4xl mt-8">
                {{ svg('theme://images/icons/phone.svg', 'w-8 h-8 self-end')|raw }} <span class="leading-none">91 305 29 22</span>
            </h3>
 
            <div class="flex flex-col gap-4 mt-8">
                <div>
                    Copyright © 2016 - {{ 'now'|date('Y') }} Urban Style Publicity, S.L.
                </div>
                <div class="flex gap-x-8 gap-y-4 flex-wrap">
                    {% include 'partials/legal-links.html.twig' %}
                </div>
            </div>
        </div>
    </div>
 
    {% include 'partials/indexer-links.html.twig' %}
</footer>
