{% set layout = layout ?? form.layout ?? 'default' %}
{% set field_layout = layout %}

{% set client_side_validation = form.client_side_validation is not null ? form.client_side_validation : config.plugins.form.client_side_validation|default(true) %}
{% set inline_errors = form.inline_errors is not null ? form.inline_errors : config.plugins.form.inline_errors(false) %}

<main class="flex-1 prose prose-xl max-w-none">
    <section class="video torn relative after:absolute after:w-full after:h-8 after:-bottom-6">
        <div class="absolute flex items-end h-full align-text-bottom max-w-min ml-[4%]">
            <h1 class="text-white text-9xl uppercase -mb-3 drop-shadow-[10px_-10px_20px_rgba(0,0,0,0.3)]">
                {{ 'DEFAULT.REPORTS'|t }}
            </h1>
        </div>
        <img class="m-0 h-[40vh] w-full object-cover"
             src="{{ url('theme://images/headers/informes.webp') }}"
             alt="">
    </section>

    <section id="login" class="container mt-14">
        {% if page.template == 'login' or show_login_form %}
            {% set user = grav.user %}
            {% if user.authenticated and user.authorized %}
                <h4>
                    {{ 'PLUGIN_LOGIN.WELCOME'|t }}
                    <strong>
                        {{ user.fullname ?: user.username }}
                    </strong>
                </h4>
                <hr>
                <a class="button logout"
                   href="{{ uri.addNonce(base_url_relative ~ uri.path ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce')|e }}">
                    {{ 'PLUGIN_LOGIN.BTN_LOGOUT'|t }}
                </a>

            {% elseif user.authenticated and user.twofa_enabled %}
                {% include 'partials/login-twofa.html.twig' %}

            {% else %}

                {# NEW WAY OF INCLUDING 3RD PARTY LOGIN OPTIONS #}
                {% for template in grav.login.getProviderLoginTemplates %}
                    {% include template %}
                {% endfor %}

                <form method="post"
                      action="{{ (base_url_relative ~ uri.path)|e }}"
                      class="{{ form_outer_classes }} login-form">

                    {# OLD WAY OF INCLUDING 3RD PARTY LOGIN OPTIONS #}
                    {% if grav.twig.plugins_hgoked_loginPage %}
                        {% for label in grav.twig.plugins_hooked_loginPage %}
                            {% include label %}
                        {% endfor %}
                    {% endif %}

                    <div class="flex flex-col md:flex-row gap-8 md:gap-16 justify-between [&>*]:w-full">
                        {% for field in form.fields %}
                            {% set field = prepare_form_field(field, field_name) %}
                            {% if field %}
                                {% set value = field.name == 'username' ? username : '' %}
                                {# {% set value = form.value(field.name) %} #}
                                {% set field_templates = include_form_field(field.type, field_layout) %}

                                {% block field %}
                                    {% include field_templates ignore missing %}
                                {% endblock %}

                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="{{ form_button_outer_classes ?: 'mt-8' }}">
                        {% if config.plugins.login.rememberme.enabled and form.login.rememberme ?? true %}
                            <div class="form-data rememberme"
                                 data-grav-default="null"
                                 data-grav-disabled="true"
                                 data-grav-field="checkbox">
                                <div class="inline-flex items-center gap-2 hover:cursor-pointer form-input-wrapper">
                                    <input class="hover:cursor-pointer top-4"
                                           type="checkbox"
                                           value="1"
                                           name="rememberme"
                                           id="#rememberme">
                                    <label class="inline hover:cursor-pointer"
                                           for="#rememberme"
                                           title="{{ 'PLUGIN_LOGIN.REMEMBER_ME_HELP'|t }}">
                                        {{ 'PLUGIN_LOGIN.REMEMBER_ME'|t }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}

                        {% set forgot_button = form.login.forgot_button ?? true %}
                        {% set forgot_route = grav.login.getRoute('forgot') %}
                        <div class="flex gap-4 mt-12">
                            {% if forgot_button and forgot_route %}
                                <a class="{{ form_button_classes ?: 'btn btn--default' }}"
                                   href="{{ base_url_relative ~ forgot_route }}">
                                    <i class="fa fa-exclamation-circle"></i>
                                    <div>
                                        {{ 'PLUGIN_LOGIN.BTN_FORGOT'|t }}
                                    </div>
                                </a>
                            {% endif %}

                            <button class="{{ form_button_classes ?: 'btn btn--primary' }}"
                                    type="submit"
                                    name="task"
                                    value="login.login">
                                <i class="fa fa-sign-in"></i>
                                {{ 'PLUGIN_LOGIN.BTN_LOGIN'|t }}
                            </button>
                        </div>
                    </div>

                    {{ nonce_field('login-form', 'login-form-nonce')|raw }}
                </form>
            {% endif %}
        {% endif %}
    </section>
</main>
