{% for related_path, score in related_pages %}
    {% set related = grav['pages'].get(related_path) %}

    {% if related %}
        <article class="flex flex-col place-items-center gap-12 md:flex-row">
            {% if related.media|first %}
                <div class="bg-skew md:w-1/3">
                    {{ related.media|first.derivatives(320, 1920, 160).sizes('(max-width: 1920px) 1920w, 100vw').loading().html('', post.title, 'm-0 p-2 border border-black bg-white aspect-video object-cover')|raw }}
                </div>
            {% else %}
                <div class="bg-skew md:w-1/3">
                    <img class="aspect-video object-cover"
                         src="https://picsum.photos/400/200.webp?random={{ random() }}"
                         alt=""
                         width="400"
                         height="200">
                </div>
            {% endif %}
            <div class="md:w-2/3 text-gray-500 text-lg">
                <h2 class="font-bold text-4xl md:line-clamp-2 pb-1 text-balance">
                    <a href="{{ related.url }}" class="!font-bold !text-gray-800">{{ related.title }}</a>
                </h2>

                {% if related.header.description %}
                    <p class="my-4 text-pretty last:mb-0 inline-block">
                        {{ related.header.description }}
                    </p>
                    <a href="{{ post.url }}" class="text-md text-red-500 font-semibold leading-tight">Seguir leyendo »</a>
                {% else %}
                    <p class="my-4 text-pretty last:mb-0 inline-block">
                        {{ related.summary|striptags("<strong>")|truncate(250)|raw }}
                    </p>
                    <a href="{{ post.url }}" class="text-md text-red-500 font-semibold leading-tight">Seguir leyendo »</a>
                {% endif %}
            </div>
        </article>
    {% endif %}
{% endfor %}
