{% for related_path, score in related_pages %}
    {% set related = grav['pages'].get(related_path) %}

    {% if related %}
        <article class="flex flex-col place-items-center gap-12 md:flex-row">
            {% if related.media|first %}
                {{ related.media|first.cropZoom(600, 300).html('', post.title, 'border border-black aspect-video object-cover md:w-1/3')|raw }}
            {% else %}
                <img class="aspect-video object-cover"
                     src="https://picsum.photos/400/200.webp?random={{ random() }}"
                     alt=""
                     width="400"
                     height="200">
            {% endif %}
            <div class="text-gray-500 text-lg">
                <h2 class="font-bold text-4xl md:line-clamp-2 pb-1">
                    <a href="{{ related.url }}">{{ related.title }}</a>
                </h2>

                {% if related.header.description %}
                    <p class="mt-4">
                        {{ related.header.description }}
                    </p>
                {% else %}
                    <p class="mt-4">{{ related.summary|striptags("<strong>")|raw }}</p>
                {% endif %}
            </div>
        </article>
    {% endif %}
{% endfor %}
