{% set evenFaqs = [] %}
{% set oddFaqs = [] %}

{% for faq in header.faqs %}
    {% if loop.index is even %}
        {% set evenFaqs = evenFaqs|merge([faq]) %}
    {% endif %}
{% endfor %}

{% for faq in header.faqs %}
    {% if loop.index is odd %}
        {% set oddFaqs = oddFaqs|merge([faq]) %}
    {% endif %}
{% endfor %}

<section class="mt-32">
    <hgroup>
        <h2 class="text-4xl font-semibold">
            {{ page.title }}
        </h2>
        {% if header.subtitle %}
            <h3>
                {{ header.subtitle }}
            </h3>
        {% endif %}
    </hgroup>

    {% if header.columns == 1 %}
        <div x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
             class="relative max-w-xl mx-auto">
            <div class="relative w-full">
                {% for faq in header.faqs %}
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }"
                         class="cursor-pointer group">
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full p-4 pb-1 text-left select-none">
                            <span>{{ faq.question }}</span>
                            <svg class="w-5 h-5 duration-300 ease-out"
                                 :class="{ '-rotate-[45deg]': activeAccordion==id }"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-4 pt-2 opacity-70">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
 
    {% if header.columns == 2 %}
        <div x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
             class="relative grid grid-cols-2 mx-auto">
            <div class="relative w-full">
                {% for faq in oddFaqs %}
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }"
                         class="cursor-pointer group">
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full p-4 pb-1 text-left select-none">
                            <span>{{ faq.question }}</span>
                            <svg class="w-5 h-5 duration-300 ease-out"
                                 :class="{ '-rotate-[45deg]': activeAccordion==id }"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-4 pt-2 opacity-70">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="relative w-full">
                {% for faq in evenFaqs %}
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }"
                         class="cursor-pointer group">
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full p-4 pb-1 text-left select-none">
                            <span>{{ faq.question }}</span>
                            <svg class="w-5 h-5 duration-300 ease-out"
                                 :class="{ '-rotate-[45deg]': activeAccordion==id }"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-4 pt-2 opacity-70">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>
{% set evenFaqs = [] %}
{% set oddFaqs = [] %}

{% for faq in header.faqs %}
    {% if loop.index is even %}
        {% set evenFaqs = evenFaqs|merge([faq]) %}
    {% endif %}
{% endfor %}

{% for faq in header.faqs %}
    {% if loop.index is odd %}
        {% set oddFaqs = oddFaqs|merge([faq]) %}
    {% endif %}
{% endfor %}

<section class="mt-32">
    <hgroup>
        <h2 class="text-4xl font-semibold">
            {{ page.title }}
        </h2>
        {% if header.subtitle %}
            <h3>
                {{ header.subtitle }}
            </h3>
        {% endif %}
    </hgroup>

    {% if header.columns == 1 %}
        <div x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
             class="relative max-w-xl mx-auto">
            <div class="relative w-full">
                {% for faq in header.faqs %}
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }"
                         class="cursor-pointer group">
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full p-4 pb-1 text-left select-none">
                            <span>{{ faq.question }}</span>
                            <svg class="w-5 h-5 duration-300 ease-out"
                                 :class="{ '-rotate-[45deg]': activeAccordion==id }"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-4 pt-2 opacity-70">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
 
    {% if header.columns == 2 %}
        <div x-data="{ activeAccordion: '', setActiveAccordion(id) { this.activeAccordion = (this.activeAccordion == id) ? '' : id } }"
             class="relative grid grid-cols-2 mx-auto">
            <div class="relative w-full">
                {% for faq in oddFaqs %}
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }"
                         class="cursor-pointer group">
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full p-4 pb-1 text-left select-none">
                            <span>{{ faq.question }}</span>
                            <svg class="w-5 h-5 duration-300 ease-out"
                                 :class="{ '-rotate-[45deg]': activeAccordion==id }"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-4 pt-2 opacity-70">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="relative w-full">
                {% for faq in evenFaqs %}
                    <div x-data="{ id: $id('accordion') }"
                         :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }"
                         class="cursor-pointer group">
                        <button @click="setActiveAccordion(id)"
                                class="flex items-center justify-between w-full p-4 pb-1 text-left select-none">
                            <span>{{ faq.question }}</span>
                            <svg class="w-5 h-5 duration-300 ease-out"
                                 :class="{ '-rotate-[45deg]': activeAccordion==id }"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                            </svg>
                        </button>
                        <div x-show="activeAccordion==id" x-collapse x-cloak>
                            <div class="p-4 pt-2 opacity-70">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</section>
