---
import { allSpainCities } from "@/data/cities/allSpainCities.js";
import LandingPegadaCarteles from "@/components/LandingPegadaCarteles.astro";
import Header from "@/components/Header.astro";
import actions from "@/assets/images/landings/acciones-marketing-local.webp";
import Layout from "@/layouts/Base.astro";

export async function getStaticPaths() {
    const images = import.meta.glob("/src/assets/images/landings/cities/**/*.{jpg,jpeg,png,webp}");

    const allRoutes = Object.entries(allSpainCities).flatMap(([provinceSlug, cities]) => {
        return (
            cities
                // Filtramos la capital para que no se duplique con la página de la provincia
                .filter(city => city.slug !== provinceSlug)
                .map(city => ({ provinceSlug, city }))
        );
    });

    return Promise.all(
        allRoutes.map(async ({ provinceSlug, city: rawCity }) => {
            const city = rawCity as any;
            let cover = actions;
            if (city.cover && images[city.cover]) {
                const imageModule = (await images[city.cover]()) as any;
                cover = imageModule.default;
            }

            return {
                params: {
                    service: undefined,
                    province: provinceSlug,
                    city: city.slug,
                },
                props: { city, cover },
            };
        }),
    );
}

const { city, cover } = Astro.props;
---

<Layout
    title={`Pegada de carteles en ${city.name} | Urban Style`}
    description={`Servicio profesional de pegada de carteles en ${city.name}. ${city.title}`}
>
    <Header
        title={`Pegada de carteles en ${city.name}`}
        cover={cover}
        coverAlt={`Fotografía panorámica de la ciudad de ${city.name}`}
        loading="eager"
        classes="*:[img]:top-0"
    />
    <main class="relative z-10 pb-6 pt-28">
        <LandingPegadaCarteles city={city} />
    </main>
</Layout>
