{% extends "partials/base.html.twig" %}

{% set banner_classes = 'class="rounded shadow"' %}
{% set banner_top = '<img src="' ~ url('image://') ~ '/banners/970x90-5.png"' ~ banner_classes ~ '>'  %}
{% set banner_mid = '<img src=\"' ~ url('image://') ~ '/banners/970x90-5.png\"' ~ banner_classes ~ '>'  %}
{% set banner_bot = '<img src=\"' ~ url('image://') ~ '/banners/970x90-5.png\"' ~ banner_classes ~ '>'  %}

{% block header_title %}
    <div class="pt-4 pb-36 text-white text-center">
        <h1 class="text-6xl font-semibold">{{ page.title }}</h1>
        {% if page.content %}
            <div class="text-xl w-1/2 mx-auto mt-8">{{ page.content|raw }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <section id="posts-feat" class="text-white grid grid-cols-2 gap-8 w-11/12 mx-auto -mt-16 relative z-10">
        <article class="relative">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=1" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>

        <article class="relative">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=2" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>

        <article class="relative">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=3" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>

        <article class="relative">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=4" alt="">
            <div class="-mt-2 p-6 absolute bottom-0 bg-black/50 rounded">
                <h2 class="text-xl font-medium">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="text-xs uppercase absolute right-2 top-2 bg-cyan-500/75 rounded-sm py-1 px-2">category: tags</div>
        </article>
    </section>

    <div class="flex gap-8 w-11/12 mx-auto mt-16">
        <div class="flex flex-col gap-8 flex-1">
            {{ banner_top|raw }}

            <section id="posts-top" class="bg-blue-200">POSTS TOPXXX Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit autem dignissimos nobis nulla vel. Ducimus ex voluptates consequuntur quod provident, consequatur minus asperiores numquam doloribus, eius ut, sed eaque autem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo neque officia nobis repudiandae placeat ipsam, cumque, tenetur, sit fugit autem totam voluptatum amet facere magni deleniti tempora odit ab quis consequatur accusantium excepturi assumenda ipsa! Culpa error ratione inventore molestias in, ad eligendi? Tempora voluptatibus tenetur, autem illum suscipit quod iste enim impedit numquam cum fugit, blanditiis quaerat! Esse quisquam tempora repellat cumque voluptatibus, modi voluptatum natus amet dolorum. Consectetur, temporibus accusantium sapiente reiciendis deleniti ipsa, eius illum voluptate natus sequi reprehenderit ullam earum fugit quas. Harum omnis sit cum illo nisi veritatis, repudiandae, ad, dignissimos ab molestiae neque adipisci!</section>

            {{ banner_mid|raw }}
        </div>

        {% include 'modular/blog-categories.html.twig' %}
    </div>

    <section id="posts-mid" class="mt-16 py-8 bg-blue-200">
        <div class="w-11/12 mx-auto">POSTS MID Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero eligendi illo officiis! Amet totam est eveniet ducimus iste distinctio explicabo laboriosam quia esse, omnis ullam repellat accusantium autem sunt facere.</div>
    </section>

    <div class="flex gap-8 w-11/12 mx-auto mt-16">
        <aside id="aside-left" class="w-1/3 bg-blue-200 self-start sticky top-24">ASIDE-LEFT Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto qui similique exercitationem commodi beatae ab eveniet ipsa dicta corporis corrupti voluptates rem vitae, facilis, repellat voluptatem aliquam placeat velit quos?</aside>

        <div class="flex flex-col gap-8 flex-1">
            <section id="posts-bot" class="bg-blue-200">POSTS BOT Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nisi tempora eaque voluptate iste corrupti perferendis aliquam dolores eum officiis aspernatur placeat porro est omnis voluptates vel deleniti, necessitatibus fuga. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi similique tempore aspernatur, sed fugit pariatur nobis. Eos fugiat atque, quae magni ullam, asperiores reprehenderit nihil, error maiores doloribus similique enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fuga ipsa dolore repellendus totam, animi dolorum fugit, eum alias aut voluptates nesciunt recusandae tempore exercitationem qui provident molestias nostrum quibusdam dignissimos ad officiis perspiciatis! Vero cum similique inventore cupiditate totam id sit rem laboriosam minima nesciunt fugit itaque vel, dolorem sint voluptatum libero mollitia temporibus facilis sequi hic adipisci ullam. Totam sit odit aliquam voluptatibus labore necessitatibus ex iure excepturi deleniti ea quis obcaecati, accusantium autem impedit tempora perspiciatis saepe quidem ipsa? Aliquam adipisci, ut temporibus, quas iusto explicabo pariatur officia voluptate voluptas animi atque. Repudiandae laudantium qui suscipit unde.</section>

            <div id="banner-bot">{{ banner_bot|raw }}</div>
        </div>
    </div>
{% endblock %}
