{% extends "partials/base.html.twig" %}

{% set banner_classes = 'class="rounded shadow"' %}
{% set banner_top = '<img src="' ~ url('image://') ~ '/banners/970x90-5.png"' ~ banner_classes ~ '>'  %}
{% set banner_mid = '<img src=\"' ~ url('image://') ~ '/banners/970x90-5.png\"' ~ banner_classes ~ '>'  %}
{% set banner_bot = '<img src=\"' ~ url('image://') ~ '/banners/970x90-5.png\"' ~ banner_classes ~ '>'  %}
{% set ceed_img = '<img src=\"' ~ url('image://') ~ '/banners/empresario-digital-155.png\"' ~ '>'  %}

{% block header_title %}
    <div class="pt-4 pb-36 text-white text-center">
        <h1 class="text-6xl font-semibold">{{ page.title }}</h1>
        {% if page.content %}
            <div class="text-xl w-1/2 mx-auto mt-8">{{ page.content|raw }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <section id="posts-featured" class="text-white grid grid-cols-2 gap-8 w-11/12 mx-auto -mt-16 relative z-10">
        <article class="relative rounded-md bg-gray-300 shadow-2xl border-4 border-gray-300">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=1" alt="">
            <div class="p-8 pt-14 absolute bottom-0 bg-gradient-to-t from-black via-black/75 to-transparent rounded">
                <h2 class="text-xl font-medium drop-shadow">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="w-[calc(100%+8px)] rounded-t-md text-xs uppercase absolute -left-[4px] -top-[4px] pt-4 pb-12 px-8 bg-gradient-to-b from-blue-400 via-blue-400/75 to-transparent">category: tags</div>
        </article>

        <article class="relative rounded-md bg-gray-300 shadow-2xl border-4 border-gray-300">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=2" alt="">
            <div class="p-8 pt-14 absolute bottom-0 bg-gradient-to-t from-black via-black/75 to-transparent rounded">
                <h2 class="text-xl font-medium drop-shadow">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="w-[calc(100%+8px)] rounded-t-md text-xs uppercase absolute -left-[4px] -top-[4px] pt-4 pb-12 px-8 bg-gradient-to-b from-blue-400 via-blue-400/75 to-transparent">category: tags</div>
        </article>

        <article class="relative rounded-md bg-gray-300 shadow-2xl border-4 border-gray-300">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=3" alt="">
            <div class="p-8 pt-14 absolute bottom-0 bg-gradient-to-t from-black via-black/75 to-transparent rounded">
                <h2 class="text-xl font-medium drop-shadow">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="w-[calc(100%+8px)] rounded-t-md text-xs uppercase absolute -left-[4px] -top-[4px] pt-4 pb-12 px-8 bg-gradient-to-b from-blue-400 via-blue-400/75 to-transparent">category: tags</div>
        </article>

        <article class="relative rounded-md bg-gray-300 shadow-2xl border-4 border-gray-300">
            <img class="rounded" src="https://picsum.photos/1000/500.webp?random=4" alt="">
            <div class="p-8 pt-14 absolute bottom-0 bg-gradient-to-t from-black via-black/75 to-transparent rounded">
                <h2 class="text-xl font-medium drop-shadow">Lorem ipsum dolor</h2>
                <p class="text-gray-300 mt-2 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nemo neque aperiam aspernatur, nam minima modi architecto laboriosam illo, et id sequi?</p>
            </div>
            <div class="w-[calc(100%+8px)] rounded-t-md text-xs uppercase absolute -left-[4px] -top-[4px] pt-4 pb-12 px-8 bg-gradient-to-b from-blue-400 via-blue-400/75 to-transparent">category: tags</div>
        </article>
    </section>

    <div class="flex gap-8 w-11/12 mx-auto mt-16">
        <div class="flex flex-col gap-16 flex-1">
            {{ banner_top|raw }}

            <section id="posts-top" class="grid grid-cols-2 gap-8">
                <article class="relative">
                    <img class="rounded shadow-2xl" src="https://picsum.photos/900/450.webp?random=1" alt="">
                    <div class="relative mt-8">
                        <h2 class="text-2xl font-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, tempore?</h2>
                        <div class="mt-2 flex gap-4 text-gray-400 text-sm">
                            <span>June 14, 2023</span>
                            <span>tags</span>
                        </div>
                        <p class="text-base mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quis officia numquam voluptatum voluptas dignissimos, incidunt deleniti expedita ex ducimus cumque dolore esse? Dicta architecto doloribus in odit odio eum ea sint ipsa illo molestias corporis, modi ad nemo possimus. Iste officiis sed minima adipisci quia quos velit debitis eum...</p>
                        <a href="#" class="inline-block float-right uppercase text-sm border-2 border-black rounded py-1 px-4">More</a>
                    </div>
                </article>

                <article class="relative">
                    <img class="rounded shadow-2xl" src="https://picsum.photos/900/450.webp?random=2" alt="">
                    <div class="relative mt-8">
                        <h2 class="text-2xl font-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, tempore?</h2>
                        <div class="mt-2 flex gap-4 text-gray-400 text-sm">
                            <span>June 14, 2023</span>
                            <span>tags</span>
                        </div>
                        <p class="text-base mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quis officia numquam voluptatum voluptas dignissimos, incidunt deleniti expedita ex ducimus cumque dolore esse? Dicta architecto doloribus in odit odio eum ea sint ipsa illo molestias corporis, modi ad nemo possimus. Iste officiis sed minima adipisci quia quos velit debitis eum...</p>
                        <a href="#" class="inline-block float-right uppercase text-sm border-2 border-black rounded py-1 px-4">More</a>
                    </div>
                </article>
            </section>

            <section id="library">
                <div class="flex gap-12">
                    <div class="ceed text-center w-1/2 bg-blue-100 p-8 rounded-lg">
                        <span class="block text-2xl text-gray-400">Conoce...</span>
                        <span class="block text-4xl text-blue-600">El Camino</span>
                        <span class="block text-3xl leading-none">de emprendedor a empresario digital</span>
                        <div class="mt-8 w-max m-auto">{{ ceed_img|raw }}</div>
                        <a href="#" class="mt-4 inline-block bg-blue-600 text-white py-4 px-8 uppercase rounded">Descargar el camino</a>
                    </div>

                    <div class="flex flex-col w-1/2 gap-8 self-start sticky top-24">
                        <article class="flex gap-4 content-between">
                            <div class="w-1/2">
                                <img class="rounded shadow-2xl" src="https://picsum.photos/400/200.webp?random=1" alt="">
                            </div>
                            <div class="flex flex-col w-1/2 justify-center gap-1">
                                <h3 class="text-base font-medium leading-tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolorem.</h3>
                                <div class="text-sm text-gray-500">Categories, tags</div>
                            </div>
                        </article>

                        <article class="flex gap-4 content-between">
                            <div class="w-1/2">
                                <img class="rounded shadow-2xl" src="https://picsum.photos/400/200.webp?random=2" alt="">
                            </div>
                            <div class="flex flex-col w-1/2 justify-center gap-1">
                                <h3 class="text-base font-medium leading-tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolorem.</h3>
                                <div class="text-sm text-gray-500">Categories, tags</div>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="flex gap-12 mt-12">
                    <article class="flex gap-4 content-between">
                        <div class="w-1/2">
                            <img class="rounded shadow-2xl" src="https://picsum.photos/400/200.webp?random=1" alt="">
                        </div>
                        <div class="flex flex-col w-1/2 justify-center gap-1">
                            <h3 class="text-base font-medium leading-tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolorem.</h3>
                            <div class="text-sm text-gray-500">Categories, tags</div>
                        </div>
                    </article>

                    <article class="flex gap-4 content-between">
                        <div class="w-1/2">
                            <img class="rounded shadow-2xl" src="https://picsum.photos/400/200.webp?random=2" alt="">
                        </div>
                        <div class="flex flex-col w-1/2 justify-center gap-1">
                            <h3 class="text-base font-medium leading-tight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolorem.</h3>
                            <div class="text-sm text-gray-500">Categories, tags</div>
                        </div>
                    </article>
                </div>
            </section>
            {{ banner_mid|raw }}
        </div>

        {% include 'modular/blog-categories.html.twig' %}
    </div>

    <section id="posts-mid" class="mt-16 bg-gradient-to-r from-black to-gray-600 flex flex-col gap-12 justify-between text-white md:flex-row">
        <div class="md:flex-1">
            <div class="flex flex-col gap-12 py-12 pl-[4.16vw] h-full">
                <hgroup class="flex flex-col gap-6 flex-1 font-extralight">
                    <h2 class="text-2xl md:text-3xl">Alfa CMS</h2>
                    <p class="my-auto text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, fugit?</p>
                </hgroup>
                <div class="flex gap-8">
                    <div>
                        <img class="rounded-lg shadow-xl border-4 border-gray-800" src="https://picsum.photos/200/300.webp?random=1" alt="">
                    </div>
                    <div>
                        <img class="rounded-lg shadow-xl border-4 border-gray-800" src="https://picsum.photos/200/300.webp?random=2" alt="">
                    </div>
                    <div>
                        <img class="rounded-lg shadow-xl border-4 border-gray-800" src="https://picsum.photos/200/300.webp?random=3" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-gray-600 rounded-xl my-4"></div>
        <div class="md:flex-1">
            <div class="flex flex-col gap-12 py-12 pr-[4.16vw] h-full">
                <hgroup class="flex flex-col gap-6 flex-1 font-extralight">
                    <h2 class="text-2xl md:text-3xl">Alfa Mailer</h2>
                    <p class="my-auto text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, fugit?</p>
                </hgroup>
                <div class="flex gap-8">
                    <div>
                        <img class="rounded-lg shadow-xl border-4 border-gray-600" src="https://picsum.photos/200/300.webp?random=1" alt="">
                    </div>
                    <div>
                        <img class="rounded-lg shadow-xl border-4 border-gray-600" src="https://picsum.photos/200/300.webp?random=2" alt="">
                    </div>
                    <div>
                        <img class="rounded-lg shadow-xl border-4 border-gray-600" src="https://picsum.photos/200/300.webp?random=3" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="flex gap-8 w-11/12 mx-auto mt-16">
        <aside id="aside-left" class="flex flex-col gap-4 w-1/5 border-4 divide-y-2 divide-gray-200 self-start sticky top-24 rounded-lg p-4">
            <h3 class="leading-tight font-medium">Plugins recomendados</h3>
            <article class="flex gap-4 pt-4 content-between">
                <div class="w-1/3">
                    <img class="rounded shadow-2xl" src="https://picsum.photos/200/200.webp?random=1" alt="">
                </div>
                <div class="flex flex-col w-1/2 justify-center gap-1">
                    <h3 class="text-base font-medium leading-tight">Lorem ipsum dolor sit amet</h3>
                    <div class="text-sm text-gray-500">Categories, tags</div>
                </div>
            </article>

            <article class="flex gap-4 pt-4 content-between">
                <div class="w-1/3">
                    <img class="rounded shadow-2xl" src="https://picsum.photos/200/200.webp?random=1" alt="">
                </div>
                <div class="flex flex-col w-1/2 justify-center gap-1">
                    <h3 class="text-base font-medium leading-tight">Lorem ipsum dolor sit amet</h3>
                    <div class="text-sm text-gray-500">Categories, tags</div>
                </div>
            </article>
        </aside>

        <div class="flex flex-col gap-8 flex-1">
            <section id="posts-bot" class="grid grid-cols-2 gap-8">
                <article class="relative">
                    <img class="rounded shadow-2xl" src="https://picsum.photos/900/450.webp?random=1" alt="">
                    <div class="relative mt-8">
                        <h2 class="text-2xl font-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, tempore?</h2>
                        <div class="mt-2 flex gap-4 text-gray-400 text-sm">
                            <span>June 14, 2023</span>
                            <span>tags</span>
                        </div>
                        <p class="text-base mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quis officia numquam voluptatum voluptas dignissimos, incidunt deleniti expedita ex ducimus cumque dolore esse? Dicta architecto doloribus in odit odio eum ea sint ipsa illo molestias corporis, modi ad nemo possimus. Iste officiis sed minima adipisci quia quos velit debitis eum...</p>
                        <a href="#" class="inline-block float-right uppercase text-sm border-2 border-black rounded py-1 px-4">More</a>
                    </div>
                </article>

                <article class="relative">
                    <img class="rounded shadow-2xl" src="https://picsum.photos/900/450.webp?random=2" alt="">
                    <div class="relative mt-8">
                        <h2 class="text-2xl font-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, tempore?</h2>
                        <div class="mt-2 flex gap-4 text-gray-400 text-sm">
                            <span>June 14, 2023</span>
                            <span>tags</span>
                        </div>
                        <p class="text-base mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quis officia numquam voluptatum voluptas dignissimos, incidunt deleniti expedita ex ducimus cumque dolore esse? Dicta architecto doloribus in odit odio eum ea sint ipsa illo molestias corporis, modi ad nemo possimus. Iste officiis sed minima adipisci quia quos velit debitis eum...</p>
                        <a href="#" class="inline-block float-right uppercase text-sm border-2 border-black rounded py-1 px-4">More</a>
                    </div>
                </article>
            </section>

            <div id="banner-bot">{{ banner_bot|raw }}</div>
        </div>
    </div>
{% endblock %}
