{% extends "partials/base.html.twig" %}

{% block header_title %}
    <div class="pt-4 pb-20  mb-16 text-white text-center">
        <h1 class="text-6xl font-semibold mb-8">{{ page.title }}</h1>
        <div class="text-xl w-1/2 mx-auto">{{ page.content|raw }}</div>
    </div>
{% endblock %}

{% block content %}
    <section class="p-8 mb-24 text-center">
        <div class="grid justify-between grid-cols-2 gap-12 md:grid-cols-3">
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/email-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Soporte por email</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <ul class="mt-8">
                    <li class="text-base">
                        <span class="font-medium">Ventas:</span>
                        <a href="#">ventas@alfa.host</a>
                    </li>
                    <li class="text-base">
                        <span class="font-medium">Soporte:</span>
                        <a href="#">soporte@alfa.host</a>
                    </li>
                    <li class="text-base">
                        <span class="font-medium">Facturación:</span>
                        <a href="#">facturacion@alfa.host</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/phone-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Atención telefónica</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <ul class="mt-8">
                    <li class="text-base">
                        <span>Atención comercial:</span>
                        <a href="#" class="font-medium">902 750 355</a>
                    </li>
                    <li class="text-base">
                        <span>Atención telefónica:</span>
                        <a href="#" class="font-medium">902 750 355</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/chat-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Chat en vivo</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8">Abrir chat</a>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/article-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Artículos</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8" class="p-4 border border-black">Buscar artículos</a>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/video-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Videotutoriales</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8" class="p-4 border border-black">Ver tutoriales</a>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/tech-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Sorporte técnico</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8" class="p-4 border border-black">Abrir un ticket</a>
            </div>
        </div>
    </section>

    <section class="px-8 py-24 bg-gray-200 flex flex-row justify-between">
        <div class="text-center w-1/2 self-start top-8 sticky">
            <img src="{{ url('image://svg/question.svg') }}" alt="" class="w-full">
        </div>
        <div class="w-1/2">
            <h2 class="text-3xl font-bold">Preguntas sobre el centro de soporte</h2>
            <ul class="faqs flex flex-col gap-8 mt-8">
                <li id="faq1">
                    <h3 class="text-xl font-medium">
                        <a class="flex items-center justify-between gap-4 text-gray-800 hover:text-black" href="#faq1">

                            <span class="w-full">Culpa dolor magna reprehenderit consectetur duis occaecat cillum</span>
                            <span class="flex items-center justify-center w-6 h-6 text-white bg-black rounded">-</span>
                        </a>
                    </h3>
                    <div class="mt-2 font-normal answer">
                        Voluptate dolor proident consectetur aliqua proident qui. Dolore ad esse ex consequat laborum sint. Nostrud ut nulla
                                                                                            enim officia occaecat ex labore. Cupidatat duis amet nisi proident elit. Reprehenderit cillum voluptate proident
                                                                                            reprehenderit proident amet exercitation consequat eu. Anim ut irure et quis laboris laboris Lorem culpa et adipisicing
                                                                                            amet.
                    </div>
                </li>
                <li id="faq2">
                    <h3 class="text-xl font-medium">
                        <a class="flex items-center justify-between gap-4 text-blue-700 hover:text-black" href="#faq2">
                            <span class="w-full">Incididunt incididunt et in reprehenderit quis occaecat velit proident.</span>
                            <span class="flex items-center justify-center w-6 h-6 font-light text-white bg-black rounded">
                                +</span>
                        </a>
                    </h3>
                    <div class="mt-2 font-normal answer">
                        Aliquip Lorem quis dolor et ullamco aute cupidatat ullamco quis eu deserunt amet dolor. Veniam ex nisi ad cillum dolor
                                                                                            qui. Amet anim cupidatat aliquip ex. Duis esse voluptate voluptate minim est culpa. Cillum fugiat et duis velit. Ipsum
                                                                                            consequat occaecat culpa mollit magna minim labore velit.
                    </div>
                </li>
                <li id="faq3">
                    <h3 class="text-xl font-medium">
                        <a class="flex items-center justify-between gap-4 text-blue-700 hover:text-black" href="#faq3">
                            <span class="w-full">Sint anim ullamco aliqua commodo.</span>
                            <span class="flex items-center justify-center w-6 h-6 font-light text-white bg-black rounded">+</span>
                        </a>
                    </h3>
                    <div class="mt-2 font-normal answer">
                        Veniam reprehenderit consequat ea incididunt elit irure cupidatat excepteur sint labore enim. Pariatur do fugiat elit
                                                                                            ullamco occaecat do. Eiusmod adipisicing exercitation commodo do. Cillum aliqua cupidatat reprehenderit duis elit.
                    </div>
                </li>
                <li id="faq4">
                    <h3 class="text-xl font-medium">
                        <a class="flex items-center justify-between gap-4 text-blue-700 hover:text-black" href="#faq4">
                            <span class="w-full">Culpa magna tempor cillum dolor amet id duis esse pariatur reprehenderit ex.</span>
                            <span class="flex items-center justify-center w-6 h-6 font-light text-white bg-black rounded">
                                +</span>
                        </a>
                    </h3>
                    <div class="mt-2 font-normal answer">
                        Id mollit in irure ex esse ipsum incididunt elit id. Non est dolore quis Lorem ipsum aute adipisicing esse nulla sint
                                                                                            duis consequat enim Lorem. Ut consectetur elit sint laboris laborum officia ea quis amet. Incididunt reprehenderit et
                                                                                            ullamco anim duis sit tempor commodo dolore deserunt ad exercitation cillum. Deserunt sit minim fugiat labore
                                                                                            reprehenderit amet eiusmod aliqua nisi amet. Incididunt proident labore elit dolore nulla est ut eiusmod.
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
