{% extends "partials/base.html.twig" %}

{% block content %}
    <h1 class="p-8 text-6xl font-semibold mb-12">{{ page.title }}</h1>

    {{ page.content|raw }}

    <section class="p-8 mb-24 text-center">
        <div class="grid justify-between grid-cols-2 gap-12 md:grid-cols-3">
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/email-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Soporte por email</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <ul class="mt-8">
                    <li class="text-base">
                        <span class="font-medium">Ventas:</span>
                        <a href="#">ventas@alfa.host</a>
                    </li>
                    <li class="text-base">
                        <span class="font-medium">Soporte:</span>
                        <a href="#">soporte@alfa.host</a>
                    </li>
                    <li class="text-base">
                        <span class="font-medium">Facturación:</span>
                        <a href="#">facturacion@alfa.host</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/phone-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Atención telefónica</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <ul class="mt-8">
                    <li class="text-base">
                        <span>Atención comercial:</span>
                        <a href="#" class="font-medium">902 750 355</a>
                    </li>
                    <li class="text-base">
                        <span>Atención telefónica:</span>
                        <a href="#" class="font-medium">902 750 355</a>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/chat-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Chat en vivo</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8">Abrir chat</a>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/article-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Artículos</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8" class="p-4 border border-black">Buscar artículos</a>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/video-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Videotutoriales</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8" class="p-4 border border-black">Ver tutoriales</a>
            </div>
            <div class="flex flex-col shadow-2xl shadow-gray-100 border-4 border-gray-200 rounded px-8 py-12">
                <div class="mb-4 flex gap-4 place-content-center place-items-center">
                    <img src="{{ url('image://svg/tech-support.svg') }}" class="w-1/5"/>
                    <h2 class="text-2xl font-bold">Sorporte técnico</h2>
                </div>
                <p class="flex-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus at eaque harum reiciendis minima a corrupti pariatur enim aut ut voluptas rerum, deserunt cumque possimus fuga delectus iusto doloribus odio.</p>
                <a href="#" class="inline-block text-blue-600 hover:text-white hover:bg-blue-600 font-medium uppercase py-4 px-8 border-2 border-blue-600 rounded mt-8" class="p-4 border border-black">Abrir un ticket</a>
            </div>
        </div>
    </section>

    <section class="px-8 py-24 bg-gray-200 flex flex-row justify-between">
        <div class="text-center w-1/2 self-start top-8 sticky">
            <img src="{{ url('image://svg/question.svg') }}" alt="" class="w-full">
        </div>
        <div class="w-1/2">
            <h2 class="text-3xl font-bold">Preguntas sobre el centro de soporte</h2>
            <ul>
                <li class="mt-8">
                    <h3 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, consectetur dolor?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab labore consectetur rem? Reprehenderit accusantium deleniti, incidunt provident unde saepe! Sit exercitationem, ut quos earum natus mollitia hic quis sequi.</p>
                </li>
                <li class="mt-8">
                    <h3 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, consectetur dolor?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab labore consectetur rem? Reprehenderit accusantium deleniti, incidunt provident unde saepe! Sit exercitationem, ut quos earum natus mollitia hic quis sequi.</p>
                </li>
                <li class="mt-8">
                    <h3 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, consectetur dolor?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab labore consectetur rem? Reprehenderit accusantium deleniti, incidunt provident unde saepe! Sit exercitationem, ut quos earum natus mollitia hic quis sequi.</p>
                </li>
                <li class="mt-8">
                    <h3 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, consectetur dolor?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab labore consectetur rem? Reprehenderit accusantium deleniti, incidunt provident unde saepe! Sit exercitationem, ut quos earum natus mollitia hic quis sequi.</p>
                </li>
                <li class="mt-8">
                    <h3 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, consectetur dolor?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ab labore consectetur rem? Reprehenderit accusantium deleniti, incidunt provident unde saepe! Sit exercitationem, ut quos earum natus mollitia hic quis sequi.</p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
