{% set icon = url('theme://images/svg/megamenu/www.svg') %}

<nav class="relative grid items-center justify-between grid-cols-2 py-6 lg:flex lg:px-8 lg:gap-4 z-10">
    <div class="pl-8 logo md:pl-0">
        <a href="{{ home_url|e }}" title="{{ config.site.title|e }}">
            {% include "partials/header/logo.svg" %}
        </a>
    </div>
    <div id="burger" class="block pr-8 text-right md:pr-0 lg:hidden">
        <span class="text-4xl font-bold text-white">
            &#9776;
        </span>
    </div>
    {% macro loop(page) %}
        {% for p in page.children.visible %}
            {% set current_page = (p.active or p.activeChild) ? 'border-b-2 border-teal-400' : '' %}
            {% if p.children.visible.count > 0 %}
                <li class="has-children">
                    <a href="{{ p.url|e }}" class="{{ current_page|e }}">
                        {% if p.header.icon %}
                            <i class="fa fa-{{ p.header.icon|e }}"></i>
                        {% endif %}
                        {{ p.menu|e }}
                    </a>
                    <ul>
                        {{ _self.loop(p) }}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ p.url|e }}" class="p-2 lg:text-white {{ current_page|e }}">
                        {% if p.header.icon %}
                            <i class="fa fa-{{ p.header.icon|e }}"></i>
                        {% endif %}
                        {{ p.menu|e }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endmacro %}

    <ul class="grid items-center justify-end hidden grid-cols-2 gap-12 py-12 text-xl text-center uppercase border-t-2 border-blue-600 col-span-full md:text-center md:grid-cols-4 lg:flex lg:gap-4 md:border-0 lg:py-4 lg:text-base lg:mt-0 lg:bg-transparent">
        {% if config.theme.dropdown.enabled %}
            {{ _self.loop(pages) }}
        {% else %}
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
                <li>
                    <a href="{{ page.url|e }}" class="p-2 lg:text-white {{ current_page|e }}">
                        {% if page.header.icon %}
                            <i class="fa fa-{{ page.header.icon|e }}"></i>
                        {% endif %}
                        {{ page.menu|e }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url|e }}">
                    {% if mitem.icon %}
                        <i class="fa fa-{{ mitem.icon|e }}"></i>
                    {% endif %}
                    {{ mitem.text|e }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div id="megamenu" class="top-28 hosting absolute left-0 right-0 mx-8 z-10 bg-white bg-opacity-20 backdrop-blur-xl rounded-md p-12 flex">
        <div class="w-4/6">
            <ul class="grid grid-cols-2 gap-8">
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting emprendedores</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting eCommerce</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting gratis</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting empresarios</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Servidores dedicados</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Certificados SSL</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
            </ul>
        </div>\
        <div class="bg-cyan-400 rounded p-8 flex-1">Featured</div>
    </div>

    <div id="domains" class="megamenu top-28 hosting absolute left-0 right-0 mx-8 z-10 bg-white bg-opacity-80 backdrop-blur-xl rounded-md p-12 grid gap-8">
        <ul class="flex w-full place-content-between gap-8">
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12">
                </div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Registro de dominio</p>
                    <p class="text-base">Registro de dominio</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Transferencia de dominio</p>
                    <p class="text-base">Transferencia de dominio</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Precios de dominios</p>
                    <p class="text-base">Precios de dominios</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ icon }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Dominios Top Level</p>
                    <p class="text-base">Dominios Top Level</p>
                </div>
            </li>
        </ul>

        <ul id="domains-offers" class="flex place-content-between gap-6 text-center">
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.com</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.net</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.biz</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.org</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.club</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.live</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
        </ul>
    </div>
</nav>
