{% set icon = url('theme://images/svg/megamenu/www.svg') %}

{% set hosting_neur_icon_url = url('theme://images/svg/megamenu/hosting-web-emprendedor.svg') %}
{% set hosting_business_icon_url = url('theme://images/svg/megamenu/hosting-web-empresario.svg') %}
{% set hosting_ecommerce_icon_url = url('theme://images/svg/megamenu/hosting-web-ecommerce.svg') %}
{% set hosting_free_icon_url = url('theme://images/svg/megamenu/hosting-web-gratis.svg') %}
{% set dedicated_server_icon_url = url('theme://images/svg/megamenu/servidor-dedicado.svg') %}
{% set virtual_server_icon_url = url('theme://images/svg/megamenu/servidores-virtuales.svg') %}

{% set domain_registration_icon_url = url('theme://images/svg/megamenu/registro-dominios.svg') %}
{% set domain_transfer_icon_url = url('theme://images/svg/megamenu/transferencia-dominios.svg') %}
{% set domain_prices_icon_url = url('theme://images/svg/megamenu/precio-dominios.svg') %}
{% set domain_top_level_icon_url = url('theme://images/svg/megamenu/dominios-nivel-superior.svg') %}

{% set email_marketing_icon_url = url('theme://images/svg/megamenu/email-marketing.svg') %}
{% set seo_icon_url = url('theme://images/svg/megamenu/posicionamiento-web.svg') %}
{% set social_media_icon_url = url('theme://images/svg/megamenu/social-media-marketing.svg') %}

<nav class="relative grid items-center justify-between grid-cols-2 py-6 lg:flex lg:px-8 lg:gap-4 z-20">
    <div class="pl-8 logo md:pl-0">
        <a href="{{ home_url|e }}" title="{{ config.site.title|e }}">
            {% include "partials/header/logo.svg" %}
        </a>
    </div>
    <div id="burger" class="block pr-8 text-right md:pr-0 lg:hidden">
        <span class="text-4xl font-bold text-white">
            &#9776;
        </span>
    </div>
    {% macro loop(page) %}
        {% for p in page.children.visible %}
            {% set current_page = (p.active or p.activeChild) ? 'border-b-2 border-teal-400' : '' %}
            {% if p.children.visible.count > 0 %}
                <li class="has-children">
                    <a href="{{ p.url|e }}" class="{{ current_page|e }}">
                        {% if p.header.icon %}
                            <i class="fa fa-{{ p.header.icon|e }}"></i>
                        {% endif %}
                        {{ p.menu|e }}
                    </a>
                    <ul>
                        {{ _self.loop(p) }}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{{ p.url|e }}" id="{{ p.menu|e|lower }}" class="p-2 lg:text-white {{ current_page|e }}">
                        {% if p.header.icon %}
                            <i class="fa fa-{{ p.header.icon|e }}"></i>
                        {% endif %}
                        {{ p.menu|e }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endmacro %}

    <ul id="main-menu" class="grid items-center justify-end hidden grid-cols-2 gap-12 py-12 text-xl text-center uppercase border-t-2 border-blue-600 col-span-full md:text-center md:grid-cols-4 lg:flex lg:gap-4 md:border-0 lg:py-4 lg:text-base lg:mt-0 lg:bg-transparent">
        {% if config.theme.dropdown.enabled %}
            {{ _self.loop(pages) }}
        {% else %}
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
                <li>
                    <a href="{{ page.url|e }}" class="p-2 lg:text-white {{ current_page|e }}">
                        {% if page.header.icon %}
                            <i class="fa fa-{{ page.header.icon|e }}"></i>
                        {% endif %}
                        {{ page.menu|e }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url|e }}">
                    {% if mitem.icon %}
                        <i class="fa fa-{{ mitem.icon|e }}"></i>
                    {% endif %}
                    {{ mitem.text|e }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div id="hosting-submenu" class="top-28 absolute left-0 right-0 w-11/12 mx-auto z-10 bg-white bg-opacity-90 backdrop-blur-xl rounded-md p-12 flex shadow-2xl border-b-[3px] border-b-gray-300">
        <div class="close-submenu absolute right-0 top-0 bg-gray-300 p-2 aspect-auto w-8 h-8 flex items-center justify-center rounded-tr rounded-bl hover:cursor-pointer">
            <span class="hover:rotate-6">&#10008;</span>
        </div>
        <div class="w-4/6">
            <ul class="grid grid-cols-2 gap-8">
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ hosting_neur_icon_url }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting emprendedores</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ hosting_business_icon_url }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting empresarios</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ hosting_ecommerce_icon_url }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting eCommerce</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ hosting_free_icon_url }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Hosting gratis</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ dedicated_server_icon_url }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Servidor dedicado</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
                <li class="flex items-center divide-x-2 divide-gray-400">
                    <div class="pr-4"><img src="{{ virtual_server_icon_url }}" alt="" class="w-12"></div>
                    <div class="pl-4">
                        <p class="text-gray-900 font-medium">Servidores virtuales</p>
                        <p class="text-base">Hosting description</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bg-cyan-400 rounded p-8 flex-1">Featured</div>
    </div>

    <div id="domains-submenu" class="hidden top-28 absolute left-0 right-0 w-11/12 mx-auto z-10 bg-white bg-opacity-90 backdrop-blur-xl rounded-md p-12 grid gap-8 shadow-2xl border-b-[3px] border-b-gray-300">
        <div class="close-submenu absolute right-0 top-0 bg-gray-300 p-2 aspect-auto w-8 h-8 flex items-center justify-center rounded-tr rounded-bl hover:cursor-pointer">
            <span class="hover:rotate-6">&#10008;</span>
        </div>
        <ul class="flex w-full place-content-between gap-8">
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ domain_registration_icon_url }}" alt="" class="w-12">
                </div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Registro de dominio</p>
                    <p class="text-base">Registro de dominio</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ domain_transfer_icon_url }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Transferencia de dominio</p>
                    <p class="text-base">Transferencia de dominio</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ domain_prices_icon_url }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Precios de dominios</p>
                    <p class="text-base">Precios de dominios</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ domain_top_level_icon_url }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Dominios Top Level</p>
                    <p class="text-base">Dominios Top Level</p>
                </div>
            </li>
        </ul>

        <ul id="domains-offers" class="flex place-content-between gap-6 text-center">
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.com</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.net</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.biz</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.org</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.club</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
            <li class="bg-gray-300 p-6 rounded-md w-full">
                <div class="text-2xl font-semibold">.live</div>
                <div class="text-red-600">
                    <span class="line-through text-sm">6.95</span>
                    <span class="font-semibold">-30%</span>
                </div>
                <div class="font-bold text-xl text-gray-600">4.95</div>
            </li>
        </ul>
    </div>

    <div id="marketing-submenu" class="hidden top-28 absolute left-0 right-0 w-11/12 mx-auto z-10 bg-white bg-opacity-90 backdrop-blur-xl rounded-md p-12 grid gap-8 shadow-2xl border-b-[3px] border-b-gray-300">
        <div class="close-submenu absolute right-0 top-0 bg-gray-300 p-2 aspect-auto w-8 h-8 flex items-center justify-center rounded-tr rounded-bl hover:cursor-pointer">
            <span class="hover:rotate-6">&#10008;</span>
        </div>
        <ul class="grid grid-cols-3 gap-8 border-b-2 border-gray-400 pb-8">
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ email_marketing_icon_url }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Email marketing</p>
                    <p class="text-base">Email marketing</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ seo_icon_url }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Posicionamiento web</p>
                    <p class="text-base">Posicionamiento web</p>
                </div>
            </li>
            <li class="flex items-center divide-x-2 divide-gray-400">
                <div class="pr-4"><img src="{{ social_media_icon_url }}" alt="" class="w-12"></div>
                <div class="pl-4">
                    <p class="text-gray-900 font-medium">Social Media Marketing</p>
                    <p class="text-base">Social Media Marketing</p>
                </div>
            </li>
        </ul>
        <div class="flex place-content-between">
            Servicios complementarios:
            <a href="#">Diseño web</a>
            <a href="#">Integraciones web</a>
            <a href="#">Mantenimiento web</a>
            <a href="#">Creación de contenidos</a>
        </div>
    </div>

    <div id="resources-submenu" class="hidden top-28 absolute left-0 right-0 w-11/12 mx-auto z-10 bg-white bg-opacity-90 backdrop-blur-xl rounded-md p-12 flex gap-12 shadow-2xl border-b-[3px] border-b-gray-300">
        <div class="close-submenu absolute right-0 top-0 bg-gray-300 p-2 aspect-auto w-8 h-8 flex items-center justify-center rounded-tr rounded-bl hover:cursor-pointer">
            <span class="hover:rotate-6">&#10008;</span>
        </div>
        <div class="flex gap-8 w-2/3 whitespace-nowrap border-r-2 border-gray-300">
            <div class="flex-1">
                <div class="mb-8">
                    <h2 class="text-xl font-medium mb-4">Gestores de contenido</h2>
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Wordpress</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Drupal</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Moodle</p>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <h2 class="text-xl font-medium mb-4">Tiendas eCommerce</h2>
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">WooCommerce</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Prestashop</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Magento</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-1">
                <div class="mb-8">
                    <h2 class="text-xl font-medium mb-4">Promoción web</h2>
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Redes sociales</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Páginas de captura</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Plantillas de email</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Plantillas HTML</p>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <h2 class="text-xl font-medium mb-4">Software y scripts</h2>
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Rotación de artículos</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Screaming from</p>
                        </li>
                        <li class="flex items-center">
                            <img src="{{ icon }}" alt="" class="w-6">
                            <p class="pl-4 text-gray-900 font-medium text-base">Keyword planner</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-1 gap-4">
            <div class="bg-gray-300 flex-1 p-8 rounded flex place-content-center place-items-center">CEED placeholder</div>
            <div class="flex gap-4 place-items-center">
                <div class="text-center leading-tight text-sm border rounded border-gray-500 p-2">Web analizer</div>
                <div class="text-center leading-tight text-sm border rounded border-gray-500 p-2">Whois service</div>
                <div class="text-center leading-tight text-sm border rounded border-gray-500 p-2">Web page creator</div>
            </div>
        </div>
    </div>
</nav>
