{% set options = {items: {'@page.children': '/models'}} %}
{% set models = page.collection(options) %}

{% if page.template == 'list' %}
    {% set models = models.shuffle() %}
{% endif %}

{# {% for item in models %}
    {{ unite_gallery(item.media.images)|raw }}
{% endfor %} #}

<section class="ds ms page_models models_portrait gorizontal_padding section_padding_70">
    <div class="container-fluid">
        <div class="isotope_container isotope row masonry-layout" data-filters=".isotope_filters">

            {% for model in models %}
                <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                    <div class="vertical-item content-absolute">
                        <div class="item-media">
                            <a href="{{ model.url }}">
                                {% if model.media.images|first %}
                                    {% set total_pics = model.media.images|length %}
                                    {{ model.media.images|first.cropZoom(338, 451).html('', '', 'attachment-receptar-featured size-receptar-featured wp-post-image')|raw }}
                                {% else %}
                                    <img class="attachment-receptar-featured size-receptar-featured wp-post-image" src="{{ theme_url }}/images/{{ site.global_featured_image }}">
                                {% endif %}
                                <div class="media-links">
                                    <div class="model-pics">
                                        {% if total_pics %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewbox="0 0 16 16">
                                                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                                            </svg>
                                            <span>{{ total_pics }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="model-parameters">
                                        <div>
                                            {% if model.header.age %}
                                                {{ model.header.age }}
                                                {{ 'PROFILE.YEARS'|t }}
                                            {% else %}
                                                {{ 'NOT_DEFINED'|t }}
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if model.header.nationality %}
                                                {{ model.header.nationality|capitalize|t }}
                                            {% else %}
                                                {{ 'NOT_DEFINED'|t }}
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if model.header.height %}
                                                {{ model.header.height }}
                                                cm
                                            {% else %}
                                                {{ 'NOT_DEFINED'|t }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    {# Zero is needed to fix previous empty values because empty == false #}
                                    {% if model.header.available == '0' %}
                                        <div class="available"></div>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item-title text-center">
                        <h4>{{ model.title }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
