{% set options = {items: {'@page.children': '/models'}} %}
{% set models = page.collection(options) %}

{# {% for item in models %}
    {{ unite_gallery(item.media.images)|raw }}
{% endfor %} #}

<section class="ds ms page_models models_portrait gorizontal_padding section_padding_70">
    <div class="container-fluid">
        <div class="isotope_container isotope row masonry-layout" data-filters=".isotope_filters">
            {% for model in models %}
                <div class="isotope-item col-lg-3 col-md-4 col-sm-6 fashion">
                    <div class="vertical-item content-absolute">
                        <div class="item-media">
                            {% if model.media.images|first %}
                                {{ model.media.images|first.cropZoom(338, 451).html('', '', 'attachment-receptar-featured size-receptar-featured wp-post-image')|raw }}
                            {% else %}
                                <img class="attachment-receptar-featured size-receptar-featured wp-post-image" src="{{ theme_url }}/images/{{ site.global_featured_image }}">
                            {% endif %}
                            <div class="media-links">
                                <div class="links-wrap">
                                    <a class="p-view prettyPhoto" title="" data-gal="prettyPhoto[gal]" href="{{ model.media.images|first.url }}"></a>
                                    <a class="p-link" title="" href="{{ model.url }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-title text-center">
                        <h4>
                            <a href="{{ model.url }}">
                                {{ model.title }}</a>
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
