{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>

<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" class='{% if browser.getBrowser == 'msie' and browser.getVersion == 7 and browser.getVersion == 8 %}{% else %}v2{% endif %} {% if browser.getBrowser == 'msie' and browser.getVersion == 7 %}ie ie7 ltie8 ltie9{% endif %} {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}ie ie8 ltie9{% endif %}'>

    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <title>
                {% if header.title %}
                    {{ header.title|e('html') }}
                    -
                {% endif %}
                {{ 'SITE.TITLE'|t|e('html') }}</title>

            {% include 'partials/metadata.html.twig' %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
            <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png"/>
            <meta name="google-translate-customization" content="{{ site.google_translate_token }}">
            {% block stylesheets %}
                {% do assets.addCss('theme://css/bootstrap.min.css') %}
                {% do assets.addCss('theme://css/main.css') %}
                {% do assets.addCss('theme://css/animations.css') %}
            {% endblock %}

            {% block javascripts %}
                {% do assets.addJs('theme://js/compressed.js', {loading: 'defer', position: 'before' }) %}
                {% do assets.addJs('theme://js/main.js', {loading: 'defer', position: 'before' }) %}
            {% endblock %}

            {% block assets deferred %}
                {{ assets.js()|raw }}
                {{ assets.css()|raw }}
            {% endblock %}
        {% endblock head %}
    </head>

    <body id="top" class="page-{{ page.template }} {% if template_body_classes %}{{ template_body_classes }}{% else %}fl-builder has-featured-posts is-not-singular{% endif %}{{ page.header.body_classes }}">

        <div id="canvas">
            <div id="box_wrapper">
                {% block header %}
                    {% include 'partials/header.html.twig' %}
                {% endblock %}

                {% block slider %}{% endblock %}

                {% block body %}
                    {% block content %}{% endblock %}
                {% endblock %}

                {% block footer %}
                    {% include 'partials/footer.html.twig' %}
                {% endblock %}
            </div>
        </div>

        {% block bottom %}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

    </body>
</html>
