{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
    <section class="page_breadcrumbs changeable ls gradient gorizontal_padding section_padding_20 columns_padding_5 table_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 text-center text-sm-left darklinks">
                    <a href="#">
                        <em>
                            <span class="" data-cfemail="533234363d302a13202623233c21277d303c3e">{{ theme.email|e }}</span>
                        </em>
                    </a>
                </div>
                <div class="col-sm-8 text-center">
                    <ol class="breadcrumb">
                        {% if breadcrumbs_config.icon_home %}
                            <li>
                                <i class="{{ breadcrumbs_config.icon_home }}"></i>
                            </li>
                        {% endif %}
                        {% for crumb in crumbs %}
                            {% if not loop.last %}
                                {% if crumb.routable %}
                                    <li>
                                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                                            <span itemprop="name">{{ crumb.menu|e }}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <span itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                                            <span itemprop="name">{{ crumb.menu|e }}</span>
                                        </span>
                                    </li>
                                {% endif %}
                                <i class="{{ divider }}"></i>
                            {% else %}
                                {% if breadcrumbs_config.link_trailing %}
                                    <li>
                                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ crumb.url|e }}" itemid="{{ crumb.url|e }}">
                                            <span itemprop="name">{{ crumb.menu|e }}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="active">
                                        <span itemscope itemtype="http://schema.org/Thing" itemprop="item" itemid="{{ crumb.url|e }}">
                                            <span itemprop="name">{{ crumb.menu|e }}</span>
                                        </span>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <meta itemprop="position" content="{{ loop.index }}"/>
                        {% endfor %}
                    </ol>
                </div>
                <div class="col-sm-2 text-center text-sm-right">
                    <ul class="inline-dropdown inline-block">

                        <li class="dropdown login-dropdown">
                            <a class="topline-button" id="login" data-target="#" href="index.html" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                <i class="rt-icon2-user"></i>
                            </a>
                            <div class="dropdown-menu ds" aria-labelledby="login">
                                <form role="form" action="https://html.modernwebtemplates.com/">
                                    <div class="form-group">
                                        <label for="login_email" class="sr-only">Email</label>
                                        <input type="email" class="form-control" id="login_email" placeholder="{{ 'THEME.ADDRESS'|t }} de email">
                                    </div>
                                    <div class="form-group">
                                        <label for="login_password" class="sr-only">Contraseña</label>
                                        <input type="password" class="form-control" id="login_password" placeholder="Contraseña">
                                    </div>
                                    <button type="button" class="theme_button color1 bottommargin_0">
                                        Acceder
                                    </button>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="remember">
                                        <label for="remember" class="bottommargin_0">
                                            Recordar sesión</label>
                                    </div>
                                </form>
                                <div class="topmargin_25">
                                    <a href="register.html" class="text-uppercase">¿Olvidaste tu contraseña?</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="search_modal_button topline-button">
                                <i class="rt-icon2-search2"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endif %}
