<header class="page_header header_darkgrey columns_padding_0 table_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-6 text-center">
                <a href="{{ home_url }}" class="logo logo_image" aria-label="Agency Moon">
                    <img src="{{ url('theme://images/moon-logo.webp') }}" alt="" width="150" height="60">
                </a>
            </div>
            <div class="col-md-8 text-center">
                {% block navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
                <span class="toggle_menu">
                    <span></span>
                </span>
            </div>
            <div class="col-md-2 col-sm-6 header-contacts text-center hidden-xs">
                <a class="highlight inline-block fontsize_30 thin" href="tel:{{ theme.phone|e }}">{{ theme.phone|e }}</a>
                <div class="fontsize_20 grey topmargin_-5">{{ theme.schedule|e }}</div>
            </div>
        </div>
    </div>
    <div class="golden-sep"></div>
</header>

{% if config.plugins.breadcrumbs.enabled %}
    {% if page.template != 'home' %}
        {# {% block breadcrumbs %}
                            {% include "partials/breadcrumbs.html.twig" %}
                        {% endblock %} #}
    {% endif %}
{% endif %}
