{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="menu-item-{{ loop.index }} {{ current_page }}">
            <a href="{{ p.url }}">
                {% if p.header.icon %}
                    <i class="fa fa-{{ p.header.icon }}"></i>
                {% endif %}
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul>
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<nav class="mainmenu_wrapper">
    <ul class="mainmenu nav sf-menu">
        {% if theme_config.showchildpages.enabled %}
            {{ _self.loop(pages) }}
        {% else %}
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="menu-item-{{ loop.index }} {{ current_page }}">
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {% if config.plugins.login.enabled and grav.user.username %}
            <li>{% include 'partials/login-status.html.twig' %}</li>
        {% endif %}
    </ul>
</nav>
