<aside class="col-md-5 col-md-push-7">
    <div class="vertical-item with_background models_square">
        <div class="item-media">
            {{ page.media.images|first|raw }}
        </div>
        <div class="model-parameters grey gradient_bg_goriz before_cover">
            <div class="bg_overlay"></div>
            <div>
                <span class="bold">{{ 'PROFILE.HEIGHT'|t }}</span>
                <br>
                <span>{{ page.header.height }}</span>
            </div>
            <div>
                <span class="bold">{{ 'PROFILE.BUST'|t }}</span>
                <br>
                <span>{{ page.header.bust }}</span>
            </div>
            <div>
                <span class="bold">{{ 'PROFILE.WAIST'|t }}</span>
                <br>
                <span>{{ page.header.waist }}</span>
            </div>
            <div>
                <span class="bold">{{ 'PROFILE.HIPS'|t }}</span>
                <br>
                <span>{{ page.header.hips }}</span>
            </div>
            <div>
                <span class="bold">{{ 'PROFILE.AGE'|t }}</span>
                <br>
                <span>{{ page.header.age }}</span>
            </div>
            <div>
                <span class="bold">{{ 'PROFILE.EYES'|t }}</span>
                <br>
                <span>{{ page.header.eyes|t }}</span>
            </div>
        </div>
        <div class="item-content with_padding">
            <h2 class="bottommargin_30">{{ 'CONTACT_FORM'|t }}</h2>
            <form class="model-contact-form" method="post" action="#">
                <div class="form-group">
                    <label for="model-name" class="sr-only">Full Name
                        <span class="required">*</span>
                    </label>
                    <input type="text" aria-required="true" size="30" value="" name="model-name" id="model-name" class="form-control with-icon" placeholder="">
                    <i class="rt-icon2-user"></i>
                </div>
                <div class="form-group">
                    <label for="model-email" class="sr-only">Email address
                        <span class="required">*</span>
                    </label>
                    <input type="email" aria-required="true" size="30" value="" name="model-email" id="model-email" class="form-control with-icon" placeholder="">
                    <i class="rt-icon2-mail"></i>
                </div>
                <div class="form-group">
                    <label for="model-phone" class="sr-only">Phone number
                        <span class="required">*</span>
                    </label>
                    <input type="text" aria-required="true" size="30" value="" name="model-phone" id="model-phone" class="form-control with-icon" placeholder="">
                    <i class="rt-icon2-phone5"></i>
                </div>
                <div class="form-group">
                    <label for="model-message" class="sr-only">Message</label>
                    <textarea aria-required="true" rows="6" cols="45" name="model-message" id="model-message" class="form-control with-icon" placeholder=""></textarea>
                    <i class="rt-icon2-pen"></i>
                </div>

                <button type="submit" id="model_contact_form_submit" name="model_contact_submit" class="theme_button color1 bottommargin_0">Enviar</button>
                <button type="reset" id="model_contact_form_clear" name="model_contact_clear" class="theme_button inverse bottommargin_0">Borrar</button>
            </form>
        </div>
    </div>
</aside>
